@charset "UTF-8";

@import
	"abstract/abstract-validation.scss";



@import
    "variables.scss",
    "mixins.scss",
    "normalize.scss",
    "animations.scss",
    "utilities.scss",
    "various.scss",
    "colorpicker.scss",
    "datepicker.scss",
    "fontawesome/font-awesome.scss",
    "dropdown-menu.scss",
    "typo.scss";


// Husky Modules
@import
    "modules/overlay",
    "modules/custom-icons.scss",
    "modules/core.scss",
    "modules/column-options.scss",
    "modules/grid.scss",
    "modules/form.scss",
    "modules/navigation.scss",
    "modules/dropdown.scss",
    "modules/tables.scss",
    "modules/btns.scss",
    "modules/pagination.scss",
    "modules/avatar.scss",
    "modules/auto-complete.scss",
    "modules/search.scss",
    "modules/tabs.scss",
    "modules/toolbar.scss",
    "modules/matrix.scss",
    "modules/validation.scss",
    "modules/loader.scss",
    "modules/column-navigation.scss",
    "modules/auto-complete-list.scss",
    "modules/select.scss",
    "modules/datagrid",
    "modules/datagrid-table-view",
    "modules/datagrid-table-view-light",
    "modules/datagrid-tiles",
    "modules/label",
    "modules/toggler",
    "modules/content-types",
    "modules/dropzone",
    "modules/input",
    "modules/thumbnails",
    "modules/data-navigation",
    "modules/badge";

// so you don't have to add the 'fa' class to every icon container
[class^="fa-"] {
    @extend .fa;
    text-decoration: none;
}
