@import "compass/css3/box-shadow";

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

@mixin standard-box-shadow($borderSize:3px, $color:rgba(0,0,0,0.08), $blur:0px){
    @include box-shadow($color $borderSize $borderSize $blur 0px);
}

@mixin user-select($value:none){
    user-select: $value;
    -moz-user-select: $value;
    -webkit-user-select: $value;
    -ms-user-select: $value;
    -o-user-select: $value;
}

@mixin icon-mixin {
    @include font-smoothing;
}

@mixin font-smoothing {
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
}

@mixin clear-float {
  &:after {
    clear: both;
    content: ' ';
    display: block;
  }
}
