//
// Typography
// --------------------------------------------------


// Base font definitions
// -------------------------
body {
    font-size: $baseFontSize;
    font-family: $baseFontFamily;
    line-height: $baseLineHeight;
    background-color: #eee; // TODO: remove;
}


// Heading
// -------------------------
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 10px 0;
    font-family: $headingsFontFamily;
    font-weight: $headingsFontWeight;
    color: $headingsColor;
}

h1 {
    font-size: 24px
}

h3 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: normal;
}
