//
// Utility Classes
// --------------------------------------------------

// Helper classes
// -------------------------
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.inline-block {
    display: inline-block !important;
}

.is-disabled {
    cursor: default !important;
}

.is-loading:not(.navigation-column-item) {
    background: url('../../img/loader.gif') center center no-repeat;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

// Margin shorthands
// -------------------------

// margins 5px
.m-top-5 {
    margin-top: 5px !important;
}

.m-bottom-5 {
    margin-bottom: 5px !important;
}

.m-right-5 {
    margin-right: 5px !important;
}

.m-left-5 {
    margin-left: 5px !important;
}

// margins 10px
.m-top-10 {
    margin-top: 10px !important;
}

.m-bottom-10 {
    margin-bottom: 10px !important;
}

.m-right-10 {
    margin-right: 10px !important;
}

.m-left-10 {
    margin-left: 10px !important;
}

// margins 15px
.m-top-15 {
    margin-top: 15px !important;
}

.m-bottom-15 {
    margin-bottom: 15px !important;
}

.m-right-15 {
    margin-right: 15px !important;
}

.m-left-15 {
    margin-left: 15px !important;
}

// margins 20px
.m-top-20 {
    margin-top: 20px !important;
}

.m-bottom-20 {
    margin-bottom: 20px !important;
}

.m-right-20 {
    margin-right: 20px !important;
}

.m-left-20 {
    margin-left: 20px !important;
}

// margins 30px
.m-top-30 {
    margin-top: 30px !important;
}

.m-bottom-30 {
    margin-bottom: 30px !important;
}

.m-right-30 {
    margin-right: 30px !important;
}

.m-left-30 {
    margin-left: 30px !important;
}

// Height shorthands
// -------------------------

// heights 30px
.m-height-25 {
    height: 25px !important;
}
