//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Base Colors
// -------------------------
$black: #000;
$gray: #666;
$grayLight: #999;
$grayLighter: #ccc;
$grayLighter3: #BABABA;
$grayLighter2: #CACACA;
$grayLighterer: #ddd;
$grayLightMedium: #e4e4e4;
$grayLightest: #efefef;
$grayDarkLighter: #3e3e3e;
$grayDark: #1e1e1e;
$white:#fff;
$green: #1FCA23;
$red: #AD0710;
$yellow: #FEBC2F;
$blue: #2D9FBC;


// Base colors
// -------------------------
$baseColor: #333333;
$baseBackgroundColor: #f1f1f1;

// Accent colors
// -------------------------
$accentColor: #009fc0;


// Font Colors
// -------------------------
$baseFontColor: $black;

$highlightColor: #249FBE; // blue

$infoColor: #fda502; // orange
$errorColor: #e60000; // red
$yellowHighlightColor: #FFFEB0; // light yellow


// Typography
// -------------------------
$sansFontFamily: Helvetica, Arial, sans-serif;

$baseFontSize: 14px;
$smallFontSize: 12px;
$baseFontFamily: $sansFontFamily;
$baseLineHeight: 20px;

$headingsFontFamily: inherit;
$headingsFontWeight: normal;
$headingsColor: inherit;

$baseIconFont: "Glyphicons";
$baseIconHalflingsFont: "Glyphicons Halflings Regular";


// Componenet values
// --------------------------------------------------


// Buttons
// -------------------------
 $btnBorderRadius: 4px;


// Form Elements
// -------------------------
$inputBorderColor: $grayLighter;
$inputBorderFocusColor: $grayLighter;
$inputBorderRadius: 3px;
$labelColor: $grayLighter;


$inputHeight: 30px;


// Navigation
// -------------------------
$navigationBackgroundColor: #3e3e3e;

// Overlay
// -------------------------
$overlayContainerWidth: 402px;
