//
// Variables
// --------------------------------------------------



// Global values
// --------------------------------------------------


// Shades of grey
// -------------------------
$black: #000;
$grayLight: #999;
$grayLighter: #ccc;


// Base colors
// -------------------------
$baseColor: #333333;


// Accent colors
// -------------------------
$accentColor: #41DDE0;


// Font Colors
// -------------------------
$baseFontColor: $black;


// Typography
// -------------------------
$sansFontFamily: Helvetica, Arial, sans-serif;

$baseFontSize: 14px;
$smallFontSize: 12px;
$baseFontFamily: $sansFontFamily;
$baseLineHeight: 20px;

$headingsFontFamily: inherit;
$headingsFontWeight: bold;
$headingsColor: inherit;

$baseIconFont: "Glyphicons";


// Module specific values
// --------------------------------------------------


// Buttons
// -------------------------
 $btnBorderRadius: 4px;


// Navigation
// -------------------------
$navigationColumnColorActive: #E0E0E0;

$navigationMainColumnColor: #333333;
$navigationMainColumnColorActive: #fff;