//
// //
// //
// // Various styles
// //
// //
// ----------------------------------------------------
// ----------------------------------------------------

.husky-position {
    width: 100%;
    height: 100%;

    & > div {
        width: 33.33%;
        height: 33.33%;
        background: $iconGray;
        cursor: pointer;
        border: 1px solid $grayLighterer;
    }
    .left {
        float: left;
        clear: left;
    }
    .middle {
        float: left;
    }
    .right {
        float: left;
    }
    .selected {
        background: $blue;
    }
    .inactive {
        background: $grayLight;
        cursor: default;
    }
}
