//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Base Colors
// -------------------------
$black: #000;
$gray: #666;
$grayLight: #999;
$grayLighter: #ccc;
$grayLighterer: #ddd;
$grayLightest: #efefef;
$grayDarkLighter: #3e3e3e;
$grayDark: #1e1e1e;
$white:#fff;
$green: #62c400;
$red: #AD0710;


// Base colors
// -------------------------
$baseColor: #333333;
$baseBackgroundColor: #f1f1f1;

// Accent colors
// -------------------------
$accentColor: #009fc0;


// Font Colors
// -------------------------
$baseFontColor: $black;

$highlightColor: #249FBE; // blue

$infoColor: #fda502; // orange
$errorColor: #e60000; // red
$yellowHighlightColor: #FFFEB0; // light yellow


// Typography
// -------------------------
$sansFontFamily: Helvetica, Arial, sans-serif;

$baseFontSize: 14px;
$smallFontSize: 12px;
$baseFontFamily: $sansFontFamily;
$baseLineHeight: 20px;

$headingsFontFamily: inherit;
$headingsFontWeight: normal;
$headingsColor: inherit;

$baseIconFont: "Glyphicons";
$baseIconHalflingsFont: "Glyphicons Halflings Regular";


// Componenet values
// --------------------------------------------------


// Buttons
// -------------------------
 $btnBorderRadius: 4px;


// Form Elements
// -------------------------
$inputBorderColor: $white;
$inputBorderFocusColor: $grayLightest;
$labelColor: $grayLighter;

$inputHeight: 30px;


// Navigation
// -------------------------
$navigationColumnColorActive: #E0E0E0;
$navigationMainColumnColor: #333333;
$navigationMainColumnColorActive: #fff;

// icons
$iconHeight: 16px;
$iconWidth: 16px;
