---
layout: default
title: Husky Extensions
slug: extensions
base_url: "../"
---

<h1><span class="icon-cogwheel m-right-10"></span> {{ page.title }}</h1>

<div class="doc-section">

    <div class="doc-section-element">
        {% include aurajs/extensions/backbone.html %}
    </div>

    <div class="doc-section-element">
        {% include aurajs/extensions/collection.html %}
    </div>

    <div class="doc-section-element">
        {% include aurajs/extensions/husky-validation.html %}
    </div>

    <div class="doc-section-element">
        {% include aurajs/extensions/jquery.html %}
    </div>

    <div class="doc-section-element">
        {% include aurajs/extensions/model.html %}
    </div>

    <div class="doc-section-element">
        {% include aurajs/extensions/util.html %}
    </div>
</div>
