<h1 id="validate">Husky Validation</h1>

<!-- TODO Description -->

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Parameter</th>
            <th>Return</th>
            <th>Description</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>create</td>
            <td>selector</td>
            <td>Object</td>
            <td>Bind Validation to a form</td>
            <td>var validation = sandbox.validation.create('#contact-form')</td>
        </tr>
        <tr>
            <td>getObject</td>
            <td>selector</td>
            <td>Object</td>
            <td>Get Validation Object</td>
            <td>var validation = sandbox.validation.getObject('#contact-form')</td>
        </tr>
        <tr>
            <td>validate</td>
            <td>
                selector<br>
                force
            </td>
            <td>Boolean</td>
            <td>Revalidate Form (force - second parameter) ignore cached validation)</td>
            <td>sandbox.validation.validate('#contact-form', true)</td>
        </tr>
        <tr>
            <td>isValid</td>
            <td>selector</td>
            <td>Boolean</td>
            <td>Get last Validation result</td>
            <td>sandbox.validation.isValid('#contact-form')</td>
        </tr>
        <tr>
            <td>addConstraint</td>
            <td>
                selector<br>
                elementSelector<br>
                constraintName<br>
                options
            </td>
            <td></td>
            <td>Add a Constraint to a field</td>
            <td>sandbox.validation.addConstraint('#contact-form', '#field', 'minlength', {minlength: 6})</td>
        </tr>
        <tr>
            <td>updateConstraint</td>
            <td>
                selector<br>
                elementSelector<br>
                constraintName<br>
                options
            </td>
            <td></td>
            <td>Update a Constraint from a field</td>
            <td>sandbox.validation.updateConstraint('#contact-form', '#field', 'minlength', {minlength: 6})</td>
        </tr>
        <tr>
            <td>deleteConstraint</td>
            <td>
                selector<br>
                elementSelector<br>
                constraintName
            </td>
            <td></td>
            <td>Delete a Constraint from a field</td>
            <td>sandbox.validation.deleteConstraint('#contact-form', '#field', 'minlength')</td>
        </tr>
        <tr>
            <td>element.getObject</td>
            <td>
                elementSelector
            </td>
            <td></td>
            <td>Delete a Constraint from a field</td>
            <td>sandbox.validation.element.getObject('#field')</td>
        </tr>
        <tr>
            <td>element.addConstraint</td>
            <td>
                elementSelector<br>
                constraintName<br>
                options
            </td>
            <td></td>
            <td>Add a Constraint to a field</td>
            <td>sandbox.validation.element.addConstraint('#field', 'minlength', {minlength: 6})</td>
        </tr>
        <tr>
            <td>updateConstraint</td>
            <td>
                elementSelector<br>
                constraintName<br>
                options
            </td>
            <td></td>
            <td>Update a Constraint from a field</td>
            <td>sandbox.validation.element.updateConstraint('#field', 'minlength', {minlength: 6})</td>
        </tr>
        <tr>
            <td>deleteConstraint</td>
            <td>
                elementSelector<br>
                constraintName
            </td>
            <td></td>
            <td>Delete a Constraint from a field</td>
            <td>sandbox.validation.element.deleteConstraint('#field', 'minlength')</td>
        </tr>
    </tbody>
</table>
