<h1 id="button">Button</h1>

<!-- TODO Description -->

<h2>Example</h2>

<div class="doc-example">
    <div class="example" id="save-button" style="min-height: 60px;">
        <div data-aura-component="button@husky" data-aura-instancename="save" data-aura-buttontype="icon"
             data-aura-background="black" data-aura-icontype="caution" data-aura-text="Save"></div>
    </div>
</div>

<script lang="javascript">
    window.onload = function() {
        require(['lib/husky'], function(Husky) {
            'use strict';

            var app = Husky({ debug: { enable: true }}),
                    _ = app.sandbox.util._;

            app.start('#save-button').then(function() {
                app.logger.log('Aura started...');
            });

        });
    }
</script>

<div class="doc-code">
    {% highlight html %}
    <div class="example" id="test-button" style="min-height: 60px;">
        <div data-aura-component="button@husky" data-aura-instancename="save" data-aura-buttontype="icon"
             data-aura-background="black" data-aura-icontype="caution" data-aura-text="Save"></div>
    </div>
    <script src="../js/sinon.js"></script>
    <script src="../js/jquery.js"></script>

    <script data-main="app" src="../js/require.js"></script>

    <script lang="javascript">
        require(['lib/husky'], function(Husky) {
            'use strict';

            var app = Husky({ debug: { enable: true }}),
                    _ = app.sandbox.util._;

            app.start('#test-button').then(function() {
                app.logger.log('Aura started...');
            });

        });
    </script>
    {% endhighlight %}
</div>

<h2>Usage</h2>

<h3>Via HTML</h3>

{% highlight html %}
<div data-aura-component="button@husky" data-aura-instancename="save" data-aura-icontype="caution" data-aura-text="Save"></div>
{% endhighlight %}

<h3>Via Javascript</h3>

{% highlight javascript %}
this.$el.html("<div id='button'></div>");
this.sandbox.start([{ name: 'button@husky', options: { el: '#button', instancename: 'save', text: 'Save', icontype: 'caution' }}]);
{% endhighlight %}

<h2>Provided Events</h2>

<table class="table">
    <thead>
        <tr>
            <th width="5%">Direction</th>
            <th width="20%">Event Name</th>
            <th width="20%">Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>in</td>
            <td>husky.button.&lt;&lt;instancename&gt;&gt;.click</td>
            <td>---</td>
            <td>button where clicked</td>
        </tr>
        <tr>
            <td>out</td>
            <td>husky.button.&lt;&lt;instancename&gt;&gt;.state</td>
            <td>string|array ... typeName or type array</td>
            <td>change buttonType [icon, custom type]</td>
        </tr>
    </tbody>
</table>

<h2>Used Events</h2>

<table class="table">
    <thead>
        <tr>
            <th width="20%">Event Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">No event used</td>
        </tr>
    </tbody>
</table>

<h2>Options</h2>

<table class="table">
    <thead>
        <tr>
            <th width="20%">Option Name</th>
            <th width="10%">Type</th>
            <th width="10%">Default</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>buttontype</td>
            <td>string</td>
            <td>'icon'</td>
            <td>type of button [icon, custom]</td>
        </tr>
        <tr>
            <td>instancename</td>
            <td>string</td>
            <td>'undefined'</td>
            <td>name of instance used in events</td>
        </tr>
        <tr>
            <td>text</td>
            <td>string</td>
            <td>'undefined'</td>
            <td>button text</td>
        </tr>
        <tr>
            <td>icontype</td>
            <td>string</td>
            <td>'caution'</td>
            <td>button icon</td>
        </tr>
        <tr>
            <td>background</td>
            <td>string</td>
            <td>null</td>
            <td>background color for spinner</td>
        </tr>
    </tbody>
</table>

<h2>Types and States</h2>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>State</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>icon</td>
            <td></td>
            <td>Create a button with an icon and a text</td>
        </tr>
        <tr>
            <td></td>
            <td>standard</td>
            <td>Button is active</td>
        </tr>
        <tr>
            <td></td>
            <td>disable</td>
            <td>Button is disabled</td>
        </tr>
        <tr>
            <td></td>
            <td>loading</td>
            <td>Button is not visible, but a loading icon appears</td>
        </tr>
    </tbody>
</table>
