<!-- Vendor scripts -->
<script src="{{ page.base_url }}demos/aurajs/js/jquery.js"></script>
<script src="{{ page.base_url }}demos/aurajs/js/require.js"></script>
<script src="{{ page.base_url }}assets/js/underscore/underscore.min.js"></script>

<!-- Husky main Javascript -->
<script src="{{ page.base_url }}assets/js/husky/dist/husky.min.js"></script>

<!-- require config -->
<script type="text/javascript">
    require.config({
        baseUrl: '{{ page.base_url }}'
    });
</script>

<!-- Docs Javascript -->
<!--<script src="{{ page.base_url }}assets/js/main.js"></script>-->
