<div id="navigation" {% if page.slug == "home" %}class="is-startpage"{% endif%}>
    <div class="navigation">
        <ul class="navigation-columns">
            <li id="column-0" class="navigation-column">
                <ul class="navigation-items">
                    <li title="CSS" class="navigation-column-item{% if page.slug == "css" %} selected{% endif %}">
                    <a href="{{ page.base_url }}css">
                        <span class="icon-css"></span>CSS
                    </a>
                    </li>
                    <li title="CSS" class="navigation-column-item{% if page.slug == "icons" %} selected{% endif %}">
                    <a href="{{ page.base_url }}icons">
                        <span class="icon-book"></span>Icons
                    </a>
                    </li>
                    <li title="Husky Components" class="navigation-column-item{% if page.slug == "components" %} selected{% endif %}">
                    <a href="{{ page.base_url }}components">
                        <span class="icon-js"></span>Husky Components
                    </a>
                    </li>
                    <li title="Husky Extensions" class="navigation-column-item{% if page.slug == "extensions" %} selected{% endif %}">
                    <a href="{{ page.base_url }}extensions">
                        <span class="icon-cogwheel"></span>Husky Extensions
                    </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
