<div id="navigation" {% if page.slug == "home" %}class="is-startpage"{% endif%}>
    <div class="navigation">
        <ul class="navigation-columns">
            <li id="column-0" class="navigation-column">
                <ul class="navigation-items">
                    <li title="CSS" class="navigation-column-item{% if page.slug == "css" %} selected{% endif %}">
                        <a href="{{ page.base_url }}css">
                            <span class="icon-css"></span>CSS
                        </a>
                    </li>
                    <li title="JavaScript Components" class="navigation-column-item{% if page.slug == "aurajs" %} selected{% endif %}">
                    <a href="{{ page.base_url }}components">
                        <span class="icon-js"></span>Husky Components
                    </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
