@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uni2A:before {
	content: "\2a";
}
.icon-uniF7:before {
	content: "\f7";
}
.icon-uni2DA:before {
	content: "\2da";
}
.icon-uni20AC:before {
	content: "\20ac";
}
.icon-uni2601:before {
	content: "\2601";
}
.icon-uni2602:before {
	content: "\2602";
}
.icon-uni2609:before {
	content: "\2609";
}
.icon-uni2693:before {
	content: "\2693";
}
.icon-uni2698:before {
	content: "\2698";
}
.icon-uni2708:before {
	content: "\2708";
}
.icon-uni2709:before {
	content: "\2709";
}
.icon-uni270F:before {
	content: "\270f";
}
.icon-uni2744:before {
	content: "\2744";
}
.icon-uniE001:before {
	content: "\e001";
}
.icon-uniE002:before {
	content: "\e002";
}
.icon-uniE003:before {
	content: "\e003";
}
.icon-uniE004:before {
	content: "\e004";
}
.icon-uniE005:before {
	content: "\e005";
}
.icon-uniE006:before {
	content: "\e006";
}
.icon-uniE007:before {
	content: "\e007";
}
.icon-uniE008:before {
	content: "\e008";
}
.icon-uniE009:before {
	content: "\e009";
}
.icon-uniE010:before {
	content: "\e010";
}
.icon-uniE012:before {
	content: "\e012";
}
.icon-uniE013:before {
	content: "\e013";
}
.icon-uniE014:before {
	content: "\e014";
}
.icon-uniE015:before {
	content: "\e015";
}
.icon-uniE016:before {
	content: "\e016";
}
.icon-uniE017:before {
	content: "\e017";
}
.icon-uniE018:before {
	content: "\e018";
}
.icon-uniE019:before {
	content: "\e019";
}
.icon-uniE020:before {
	content: "\e020";
}
.icon-uniE021:before {
	content: "\e021";
}
.icon-uniE023:before {
	content: "\e023";
}
.icon-uniE024:before {
	content: "\e024";
}
.icon-uniE025:before {
	content: "\e025";
}
.icon-uniE026:before {
	content: "\e026";
}
.icon-uniE027:before {
	content: "\e027";
}
.icon-uniE028:before {
	content: "\e028";
}
.icon-uniE029:before {
	content: "\e029";
}
.icon-uniE030:before {
	content: "\e030";
}
.icon-uniE032:before {
	content: "\e032";
}
.icon-uniE033:before {
	content: "\e033";
}
.icon-uniE034:before {
	content: "\e034";
}
.icon-uniE035:before {
	content: "\e035";
}
.icon-uniE036:before {
	content: "\e036";
}
.icon-uniE037:before {
	content: "\e037";
}
.icon-uniE038:before {
	content: "\e038";
}
.icon-uniE040:before {
	content: "\e040";
}
.icon-uniE041:before {
	content: "\e041";
}
.icon-uniE042:before {
	content: "\e042";
}
.icon-uniE043:before {
	content: "\e043";
}
.icon-uniE044:before {
	content: "\e044";
}
.icon-uniE045:before {
	content: "\e045";
}
.icon-uniE046:before {
	content: "\e046";
}
.icon-uniE047:before {
	content: "\e047";
}
.icon-uniE048:before {
	content: "\e048";
}
.icon-uniE049:before {
	content: "\e049";
}
.icon-uniE050:before {
	content: "\e050";
}
.icon-uniE051:before {
	content: "\e051";
}
.icon-uniE052:before {
	content: "\e052";
}
.icon-uniE053:before {
	content: "\e053";
}
.icon-uniE054:before {
	content: "\e054";
}
.icon-uniE055:before {
	content: "\e055";
}
.icon-uniE056:before {
	content: "\e056";
}
.icon-uniE057:before {
	content: "\e057";
}
.icon-uniE058:before {
	content: "\e058";
}
.icon-uniE059:before {
	content: "\e059";
}
.icon-uniE060:before {
	content: "\e060";
}
.icon-uniE061:before {
	content: "\e061";
}
.icon-uniE062:before {
	content: "\e062";
}
.icon-uniE063:before {
	content: "\e063";
}
.icon-uniE064:before {
	content: "\e064";
}
.icon-uniE065:before {
	content: "\e065";
}
.icon-uniE066:before {
	content: "\e066";
}
.icon-uniE067:before {
	content: "\e067";
}
.icon-uniE068:before {
	content: "\e068";
}
.icon-uniE069:before {
	content: "\e069";
}
.icon-uniE070:before {
	content: "\e070";
}
.icon-uniE072:before {
	content: "\e072";
}
.icon-uniE073:before {
	content: "\e073";
}
.icon-uniE074:before {
	content: "\e074";
}
.icon-uniE075:before {
	content: "\e075";
}
.icon-uniE076:before {
	content: "\e076";
}
.icon-uniE077:before {
	content: "\e077";
}
.icon-uniE078:before {
	content: "\e078";
}
.icon-uniE079:before {
	content: "\e079";
}
.icon-uniE080:before {
	content: "\e080";
}
.icon-uniE081:before {
	content: "\e081";
}
.icon-uniE082:before {
	content: "\e082";
}
.icon-uniE083:before {
	content: "\e083";
}
.icon-uniE084:before {
	content: "\e084";
}
.icon-uniE085:before {
	content: "\e085";
}
.icon-uniE086:before {
	content: "\e086";
}
.icon-uniE087:before {
	content: "\e087";
}
.icon-uniE088:before {
	content: "\e088";
}
.icon-uniE089:before {
	content: "\e089";
}
.icon-uniE090:before {
	content: "\e090";
}
.icon-uniE091:before {
	content: "\e091";
}
.icon-uniE092:before {
	content: "\e092";
}
.icon-uniE093:before {
	content: "\e093";
}
.icon-uniE094:before {
	content: "\e094";
}
.icon-uniE095:before {
	content: "\e095";
}
.icon-uniE096:before {
	content: "\e096";
}
.icon-uniE097:before {
	content: "\e097";
}
.icon-uniE098:before {
	content: "\e098";
}
.icon-uniE099:before {
	content: "\e099";
}
.icon-uniE100:before {
	content: "\e100";
}
.icon-uniE101:before {
	content: "\e101";
}
.icon-uniE102:before {
	content: "\e102";
}
.icon-uniE103:before {
	content: "\e103";
}
.icon-uniE104:before {
	content: "\e104";
}
.icon-uniE105:before {
	content: "\e105";
}
.icon-uniE106:before {
	content: "\e106";
}
.icon-uniE107:before {
	content: "\e107";
}
.icon-uniE108:before {
	content: "\e108";
}
.icon-uniE109:before {
	content: "\e109";
}
.icon-uniE110:before {
	content: "\e110";
}
.icon-uniE111:before {
	content: "\e111";
}
.icon-uniE112:before {
	content: "\e112";
}
.icon-uniE113:before {
	content: "\e113";
}
.icon-uniE114:before {
	content: "\e114";
}
.icon-uniE115:before {
	content: "\e115";
}
.icon-uniE116:before {
	content: "\e116";
}
.icon-uniE117:before {
	content: "\e117";
}
.icon-uniE118:before {
	content: "\e118";
}
.icon-uniE119:before {
	content: "\e119";
}
.icon-uniE120:before {
	content: "\e120";
}
.icon-uniE121:before {
	content: "\e121";
}
.icon-uniE122:before {
	content: "\e122";
}
.icon-uniE123:before {
	content: "\e123";
}
.icon-uniE124:before {
	content: "\e124";
}
.icon-uniE125:before {
	content: "\e125";
}
.icon-uniE126:before {
	content: "\e126";
}
.icon-uniE127:before {
	content: "\e127";
}
.icon-uniE128:before {
	content: "\e128";
}
.icon-uniE129:before {
	content: "\e129";
}
.icon-uniE130:before {
	content: "\e130";
}
.icon-uniE131:before {
	content: "\e131";
}
.icon-uniE132:before {
	content: "\e132";
}
.icon-uniE133:before {
	content: "\e133";
}
.icon-uniE134:before {
	content: "\e134";
}
.icon-uniE135:before {
	content: "\e135";
}
.icon-uniE136:before {
	content: "\e136";
}
.icon-uniE137:before {
	content: "\e137";
}
.icon-uniE138:before {
	content: "\e138";
}
.icon-uniE139:before {
	content: "\e139";
}
.icon-uniE140:before {
	content: "\e140";
}
.icon-uniE141:before {
	content: "\e141";
}
.icon-uniE142:before {
	content: "\e142";
}
.icon-uniE143:before {
	content: "\e143";
}
.icon-uniE144:before {
	content: "\e144";
}
.icon-uniE145:before {
	content: "\e145";
}
.icon-uniE146:before {
	content: "\e146";
}
.icon-uniE147:before {
	content: "\e147";
}
.icon-uniE148:before {
	content: "\e148";
}
.icon-uniE149:before {
	content: "\e149";
}
.icon-uniE150:before {
	content: "\e150";
}
.icon-uniE151:before {
	content: "\e151";
}
.icon-uniE152:before {
	content: "\e152";
}
.icon-uniE153:before {
	content: "\e153";
}
.icon-uniE154:before {
	content: "\e154";
}
.icon-uniE155:before {
	content: "\e155";
}
.icon-uniE156:before {
	content: "\e156";
}
.icon-uniE157:before {
	content: "\e157";
}
.icon-uniE158:before {
	content: "\e158";
}
.icon-uniE159:before {
	content: "\e159";
}
.icon-uniE160:before {
	content: "\e160";
}
.icon-uniE161:before {
	content: "\e161";
}
.icon-uniE162:before {
	content: "\e162";
}
.icon-uniE163:before {
	content: "\e163";
}
.icon-uniE164:before {
	content: "\e164";
}
.icon-uniE165:before {
	content: "\e165";
}
.icon-uniE166:before {
	content: "\e166";
}
.icon-uniE167:before {
	content: "\e167";
}
.icon-uniE168:before {
	content: "\e168";
}
.icon-uniE169:before {
	content: "\e169";
}
.icon-uniE170:before {
	content: "\e170";
}
.icon-uniE171:before {
	content: "\e171";
}
.icon-uniE172:before {
	content: "\e172";
}
.icon-uniE173:before {
	content: "\e173";
}
.icon-uniE174:before {
	content: "\e174";
}
.icon-uniE175:before {
	content: "\e175";
}
.icon-uniE176:before {
	content: "\e176";
}
.icon-uniE177:before {
	content: "\e177";
}
.icon-uniE178:before {
	content: "\e178";
}
.icon-uniE179:before {
	content: "\e179";
}
.icon-uniE180:before {
	content: "\e180";
}
.icon-uniE181:before {
	content: "\e181";
}
.icon-uniE182:before {
	content: "\e182";
}
.icon-uniE183:before {
	content: "\e183";
}
.icon-uniE184:before {
	content: "\e184";
}
.icon-uniE185:before {
	content: "\e185";
}
.icon-uniE186:before {
	content: "\e186";
}
.icon-uniE187:before {
	content: "\e187";
}
.icon-uniE188:before {
	content: "\e188";
}
.icon-uniE189:before {
	content: "\e189";
}
.icon-uniE190:before {
	content: "\e190";
}
.icon-uniE191:before {
	content: "\e191";
}
.icon-uniE192:before {
	content: "\e192";
}
.icon-uniE193:before {
	content: "\e193";
}
.icon-uniE194:before {
	content: "\e194";
}
.icon-uniE195:before {
	content: "\e195";
}
.icon-uniE196:before {
	content: "\e196";
}
.icon-uniE197:before {
	content: "\e197";
}
.icon-uniE198:before {
	content: "\e198";
}
.icon-uniE199:before {
	content: "\e199";
}
.icon-uniE200:before {
	content: "\e200";
}
.icon-uniE201:before {
	content: "\e201";
}
.icon-uniE202:before {
	content: "\e202";
}
.icon-uniE203:before {
	content: "\e203";
}
.icon-uniE204:before {
	content: "\e204";
}
.icon-uniE205:before {
	content: "\e205";
}
.icon-uniE206:before {
	content: "\e206";
}
.icon-uniE207:before {
	content: "\e207";
}
.icon-uniE208:before {
	content: "\e208";
}
.icon-uniE209:before {
	content: "\e209";
}
.icon-uniE210:before {
	content: "\e210";
}
.icon-uniE211:before {
	content: "\e211";
}
.icon-uniE212:before {
	content: "\e212";
}
.icon-uniE213:before {
	content: "\e213";
}
.icon-uniE214:before {
	content: "\e214";
}
.icon-uniE215:before {
	content: "\e215";
}
.icon-uniE216:before {
	content: "\e216";
}
.icon-uniE217:before {
	content: "\e217";
}
.icon-uniE218:before {
	content: "\e218";
}
.icon-uniE219:before {
	content: "\e219";
}
.icon-uniE220:before {
	content: "\e220";
}
.icon-uniE221:before {
	content: "\e221";
}
.icon-uniE222:before {
	content: "\e222";
}
.icon-uniE223:before {
	content: "\e223";
}
.icon-uniE225:before {
	content: "\e225";
}
.icon-uniE226:before {
	content: "\e226";
}
.icon-uniE228:before {
	content: "\e228";
}
.icon-uniE229:before {
	content: "\e229";
}
.icon-uniE230:before {
	content: "\e230";
}
.icon-uniE231:before {
	content: "\e231";
}
.icon-uniE234:before {
	content: "\e234";
}
.icon-uniE235:before {
	content: "\e235";
}
.icon-uniE236:before {
	content: "\e236";
}
.icon-uniE237:before {
	content: "\e237";
}
.icon-uniE238:before {
	content: "\e238";
}
.icon-uniE239:before {
	content: "\e239";
}
.icon-uniE240:before {
	content: "\e240";
}
.icon-uniE241:before {
	content: "\e241";
}
.icon-uniE242:before {
	content: "\e242";
}
.icon-uniE243:before {
	content: "\e243";
}
.icon-uniE245:before {
	content: "\e245";
}
.icon-uniE246:before {
	content: "\e246";
}
.icon-uniE247:before {
	content: "\e247";
}
.icon-uniE248:before {
	content: "\e248";
}
.icon-uniE251:before {
	content: "\e251";
}
.icon-uniE252:before {
	content: "\e252";
}
.icon-uniE253:before {
	content: "\e253";
}
.icon-uniE254:before {
	content: "\e254";
}
.icon-uniE255:before {
	content: "\e255";
}
.icon-uniE256:before {
	content: "\e256";
}
.icon-uniE257:before {
	content: "\e257";
}
.icon-uniE258:before {
	content: "\e258";
}
.icon-uniE259:before {
	content: "\e259";
}
.icon-uniE260:before {
	content: "\e260";
}
.icon-uniE261:before {
	content: "\e261";
}
.icon-uniE262:before {
	content: "\e262";
}
.icon-uniE263:before {
	content: "\e263";
}
.icon-uniE264:before {
	content: "\e264";
}
.icon-uniE265:before {
	content: "\e265";
}
.icon-uniE266:before {
	content: "\e266";
}
.icon-uniE267:before {
	content: "\e267";
}
.icon-uniE268:before {
	content: "\e268";
}
.icon-uniE269:before {
	content: "\e269";
}
.icon-uniE270:before {
	content: "\e270";
}
.icon-uniE271:before {
	content: "\e271";
}
.icon-uniE273:before {
	content: "\e273";
}
.icon-uniE274:before {
	content: "\e274";
}
.icon-uniE275:before {
	content: "\e275";
}
.icon-uniE276:before {
	content: "\e276";
}
.icon-uniE277:before {
	content: "\e277";
}
.icon-uniE278:before {
	content: "\e278";
}
.icon-uniE279:before {
	content: "\e279";
}
.icon-uniE280:before {
	content: "\e280";
}
.icon-uniE281:before {
	content: "\e281";
}
.icon-uniE282:before {
	content: "\e282";
}
.icon-uniE283:before {
	content: "\e283";
}
.icon-uniE284:before {
	content: "\e284";
}
.icon-uniE285:before {
	content: "\e285";
}
.icon-uniE286:before {
	content: "\e286";
}
.icon-uniE287:before {
	content: "\e287";
}
.icon-uniE288:before {
	content: "\e288";
}
.icon-uniE289:before {
	content: "\e289";
}
.icon-uniE290:before {
	content: "\e290";
}
.icon-uniE291:before {
	content: "\e291";
}
.icon-uniE292:before {
	content: "\e292";
}
.icon-uniE293:before {
	content: "\e293";
}
.icon-uniE294:before {
	content: "\e294";
}
.icon-uniE295:before {
	content: "\e295";
}
.icon-uniE296:before {
	content: "\e296";
}
.icon-uniE297:before {
	content: "\e297";
}
.icon-uniE298:before {
	content: "\e298";
}
.icon-uniE299:before {
	content: "\e299";
}
.icon-uniE300:before {
	content: "\e300";
}
.icon-uniE301:before {
	content: "\e301";
}
.icon-uniE302:before {
	content: "\e302";
}
.icon-uniE303:before {
	content: "\e303";
}
.icon-uniE304:before {
	content: "\e304";
}
.icon-uniE305:before {
	content: "\e305";
}
.icon-uniE306:before {
	content: "\e306";
}
.icon-uniE307:before {
	content: "\e307";
}
.icon-uniE308:before {
	content: "\e308";
}
.icon-uniE309:before {
	content: "\e309";
}
.icon-uniE310:before {
	content: "\e310";
}
.icon-uniE312:before {
	content: "\e312";
}
.icon-uniE313:before {
	content: "\e313";
}
.icon-uniE314:before {
	content: "\e314";
}
.icon-uniE315:before {
	content: "\e315";
}
.icon-uniE316:before {
	content: "\e316";
}
.icon-uniE317:before {
	content: "\e317";
}
.icon-uniE318:before {
	content: "\e318";
}
.icon-uniE319:before {
	content: "\e319";
}
.icon-uniE320:before {
	content: "\e320";
}
.icon-uniE321:before {
	content: "\e321";
}
.icon-uniE322:before {
	content: "\e322";
}
.icon-uniE323:before {
	content: "\e323";
}
.icon-uniE324:before {
	content: "\e324";
}
.icon-uniE325:before {
	content: "\e325";
}
.icon-uniE326:before {
	content: "\e326";
}
.icon-uniE327:before {
	content: "\e327";
}
.icon-uniE328:before {
	content: "\e328";
}
.icon-uniE329:before {
	content: "\e329";
}
.icon-uniE330:before {
	content: "\e330";
}
.icon-uniE331:before {
	content: "\e331";
}
.icon-uniE332:before {
	content: "\e332";
}
.icon-uniE333:before {
	content: "\e333";
}
.icon-uniE334:before {
	content: "\e334";
}
.icon-uniE335:before {
	content: "\e335";
}
.icon-uniE336:before {
	content: "\e336";
}
.icon-uniE337:before {
	content: "\e337";
}
.icon-uniE338:before {
	content: "\e338";
}
.icon-uniE339:before {
	content: "\e339";
}
.icon-uniE340:before {
	content: "\e340";
}
.icon-uniE341:before {
	content: "\e341";
}
.icon-uniE342:before {
	content: "\e342";
}
.icon-uniE343:before {
	content: "\e343";
}
.icon-uniE344:before {
	content: "\e344";
}
.icon-uniE345:before {
	content: "\e345";
}
.icon-uniE346:before {
	content: "\e346";
}
.icon-uniE347:before {
	content: "\e347";
}
.icon-uniE348:before {
	content: "\e348";
}
.icon-uniE349:before {
	content: "\e349";
}
.icon-uniE350:before {
	content: "\e350";
}
.icon-uniE351:before {
	content: "\e351";
}
.icon-uniE352:before {
	content: "\e352";
}
.icon-uniE353:before {
	content: "\e353";
}
.icon-uniE354:before {
	content: "\e354";
}
.icon-uniE355:before {
	content: "\e355";
}
.icon-uniE356:before {
	content: "\e356";
}
.icon-uniE357:before {
	content: "\e357";
}
.icon-uniE358:before {
	content: "\e358";
}
.icon-uniE359:before {
	content: "\e359";
}
.icon-uniE360:before {
	content: "\e360";
}
.icon-uniE361:before {
	content: "\e361";
}
.icon-uniE362:before {
	content: "\e362";
}
.icon-uniE363:before {
	content: "\e363";
}
.icon-uniE364:before {
	content: "\e364";
}
.icon-uniE365:before {
	content: "\e365";
}
.icon-uniE366:before {
	content: "\e366";
}
.icon-uniE367:before {
	content: "\e367";
}
.icon-uniE368:before {
	content: "\e368";
}
.icon-uniE369:before {
	content: "\e369";
}
.icon-uniE370:before {
	content: "\e370";
}
.icon-uniE371:before {
	content: "\e371";
}
.icon-uniE372:before {
	content: "\e372";
}
.icon-uniE373:before {
	content: "\e373";
}
.icon-uniE374:before {
	content: "\e374";
}
.icon-uniE375:before {
	content: "\e375";
}
.icon-uniE376:before {
	content: "\e376";
}
.icon-uniE377:before {
	content: "\e377";
}
.icon-uniE378:before {
	content: "\e378";
}
.icon-uniE379:before {
	content: "\e379";
}
.icon-uniE380:before {
	content: "\e380";
}
.icon-uniE381:before {
	content: "\e381";
}
.icon-uniE382:before {
	content: "\e382";
}
.icon-uniE383:before {
	content: "\e383";
}
.icon-uniE384:before {
	content: "\e384";
}
.icon-uniE385:before {
	content: "\e385";
}
.icon-uniE386:before {
	content: "\e386";
}
.icon-uniE387:before {
	content: "\e387";
}
.icon-uniE388:before {
	content: "\e388";
}
.icon-uniE389:before {
	content: "\e389";
}
.icon-uniE390:before {
	content: "\e390";
}
.icon-uniE391:before {
	content: "\e391";
}
.icon-uniE392:before {
	content: "\e392";
}
.icon-uniE393:before {
	content: "\e393";
}
.icon-uniE394:before {
	content: "\e394";
}
.icon-uniE395:before {
	content: "\e395";
}
.icon-uniE396:before {
	content: "\e396";
}
.icon-uniE397:before {
	content: "\e397";
}
.icon-uniE398:before {
	content: "\e398";
}
.icon-uniE399:before {
	content: "\e399";
}
.icon-uniE400:before {
	content: "\e400";
}
.icon-uniE401:before {
	content: "\e401";
}
.icon-uniE402:before {
	content: "\e402";
}
.icon-uniE403:before {
	content: "\e403";
}
.icon-uniE404:before {
	content: "\e404";
}
.icon-uniE405:before {
	content: "\e405";
}
.icon-uniE406:before {
	content: "\e406";
}
.icon-uniE407:before {
	content: "\e407";
}
.icon-uniE408:before {
	content: "\e408";
}
.icon-uniE409:before {
	content: "\e409";
}
.icon-uniE410:before {
	content: "\e410";
}
.icon-uniE411:before {
	content: "\e411";
}
.icon-uniE412:before {
	content: "\e412";
}
.icon-uniE413:before {
	content: "\e413";
}
.icon-uniE414:before {
	content: "\e414";
}
.icon-uniE415:before {
	content: "\e415";
}
.icon-uniE416:before {
	content: "\e416";
}
.icon-uniE417:before {
	content: "\e417";
}
.icon-uniE418:before {
	content: "\e418";
}
.icon-uniE419:before {
	content: "\e419";
}
.icon-uniE420:before {
	content: "\e420";
}
.icon-uniE224:before {
	content: "\e224";
}
.icon-uniE227:before {
	content: "\e227";
}
.icon-uniE22A:before {
	content: "\e22a";
}
