body {
    font-size: 18px;
    line-height: 24px;
}



.docs-container {
    padding-top: 100px;
    width: 100%;
    padding-left: 300px;
    padding-right: 20px;
}

.docs-container > h1 {
    margin-bottom: 30px;
}

.doc-section {
    margin: 20px 0;
}

.doc-code {
    position: relative;
    margin: 10px 0;
}

.doc-code .highlight {
    padding: 15px 0 5px;
    border: 1px solid #E1E1E1;
}

.doc-code::before {
    content: "Code";
    position: absolute;
    top: 0;
    left: 0;
    background: #E1E1E1;
    padding: 2px 10px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
}

.doc-footnotes {
    font-size: 14px;
    display: block;
    margin: 20px 0;
}

.doc-footnotes a {
    color: #000;
    text-decoration: none;
}

.doc-social-btn {
    position: relative;
    top: 5px;
    display: inline-block;
}

.doc-social-btn + .doc-social-btn {
    margin-left: 5px;
}

#navigation #column-0 {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;

    -webkit-transform: rotate3d(0,1,0,0deg);
    -moz-transform: rotate3d(0,1,0,0deg);
    -ms-transform: rotate3d(0,1,0,0deg);
    -o-transform: rotate3d(0,1,0,0deg);
    transform: rotate3d(0,1,0,0deg);
}

#navigation.is-startpage #column-0 {
    -webkit-animation: foldOut .4s 1;
    -moz-animation: foldOut .4s 1;
    -ms-animation: foldOut .4s 1;
    -o-animation: foldOut .4s 1;
    animation: foldOut .4s 1;
    -webkit-transform: rotate3d(0,1,0,0deg);
    -moz-transform: rotate3d(0,1,0,0deg);
    -ms-transform: rotate3d(0,1,0,0deg);
    -o-transform: rotate3d(0,1,0,0deg);
    transform: rotate3d(0,1,0,0deg);
}

.headerbar {
    z-index: 10;
}

.headerbar-logo {
    text-decoration: none;
}

/*
 * Icons
 */

.icon-css::before {
    content: "\E235";
}

.icon-js::before {
    content: "\E242";
}

.icon-download::before {
    content: "\E182";
    margin-right: 10px;
    font-size: 14px;
}

/*
 * Common styles
 */
.doc-section-element {
	margin-bottom: 50px;
}

/*
 * Callout
 */
.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}

.bs-callout h4 {
	margin-top: 0;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}

.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}

.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}

/*
 * Examples
 */
.bs-example {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
	background-color: #fafafa;
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
}

/* Echo out a label for the example */
.bs-example:after {
	content: "Example";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}