<ul class="collection-navigation-items">
    <% if (!!data.children && !!data.children.length) { %>
    <% _.each(data.children, function(child) { %>
    <li data-id="<%= child.id %>">
        <div class="collection-navigation-item-thumb" style="background-image: url('http://lorempixel.com/35/35')"></div>
        <div class="collection-navigation-item-name">
            <%= child[options.nameKey] %>
            <% if (data.hasSub) { %>
            <span class="fa-chevron-right"></span>
            <% } %>
        </div>
    </li>
    <% }) %>
    <% } else if (!!data.children && data.children.length === 0) { %>
    <li class="not-selectable">
        <div class="collection-navigation-info">
            No collections
        </div>
    </li>
    <% } else { %>
    <li class="not-selectable">
        <div class="collection-navigation-loader-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </li>
    <% } %>
</ul>
<div class="collection-navigation-list-footer">
    <% if (options.showAddCollectionsBtn) { %>
    <button class="collection-navigation-add btn">
        <span class="fa-plus-circle"></span>
        Add collection
    </button>
    <% } %>
</div>
