.auto-complete-list-container {
    position: relative;
    ul {
        margin: 0;
        list-style: none;
    }

    .arrow-down,
    .arrow-up {
        position: absolute;
        right: 10px;
        bottom: 13px;
        content: "";
        display: inline-block;
        height: 0;
        margin-left: 5px;
        width: 0;
        cursor: pointer;
    }

    .arrow-down {
        border-left: 4px solid rgba(0, 0, 0, 0);
        border-right: 4px solid rgba(0, 0, 0, 0);
        border-top: 6px solid #000000;
    }

    .arrow-up {
        border-left: 4px solid rgba(0, 0, 0, 0);
        border-right: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid #000000;
    }

    label {
        cursor: default;
    }

	.auto-complete-list {
	    font-size: $smallFontSize;
        min-height: 30px;
	}
    .tt-suggestions {
        width: 506px;
    }
}

.auto-complete-list {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #fff;

    input[type="text"] {
      margin: 5px 10px 5px 0;
      width: 100px;
      border: 0;
      outline: 0;
    }
}

.auto-complete-list-selection {
      display: inline-block;
      margin: 2px 5px 2px 0;
      padding: 0 4px;
      border-radius: 2px;
      background-color: #ccc;
      color: #000;
      font-size: 12px;

      .tm-tag-remove{
          @extend .icon-remove;
          font-family: $baseIconFont;
          position: relative;
          top: 2px;
          padding-left: 2px;
          cursor: pointer;
          text-decoration: none;
          color: $black;
      }
}

.auto-complete-list-suggestions {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ddd;

    h5 {
        margin: 0;
        padding: 5px 8px;
        border-bottom: 1px solid #e9e9e9;
        color: #999999;
        font-size: 12px;
    }

    ul {
        padding: 8px 8px 15px;
        margin: 0;
    }

    li {
        display: inline-block;
        margin-right: 5px;
        padding: 0 4px;
        border-radius: 2px;
        background-color: #fff;
        color: #000;
        font-size: 12px;
        cursor: pointer;
    }

    .deactivated {
        cursor: auto;
        color: $grayLight;
    }
}
