.auto-complete-list-container {
    position: relative;
    ul {
        margin: 0;
        list-style: none;
    }

    .icon-arrow-down {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    label {
        cursor: default;
    }

	.auto-complete-list {
	  font-size: $smallFontSize;
	}
}

.auto-complete-list-input {
    display: inline-block;
    width: 35%;

    input[type="text"] {
        width: 100%;
        border: 0;
        outline: 0;
    }
}

.auto-complete-list-selections {
    position: relative;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #fff;

    .auto-complete-list-selection {
        display: inline-block;
        margin-top: 2px;
        margin-right: 5px;
        padding: 0 4px;
        border-radius: 2px;
        background-color: #ccc;
        color: #000;
        font-size: 12px;

        .icon-remove {
            position: relative;
            top: 2px;
            cursor: pointer;
        }
    }
}

.auto-complete-list-suggestions {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ddd;

    h5 {
        margin: 0;
        padding: 5px 8px;
        border-bottom: 1px solid #e9e9e9;
        color: #999999;
        font-size: 12px;
    }

    ul {
        padding: 8px 8px 15px;
    }

    li {
        display: inline-block;
        margin-right: 5px;
        padding: 0 4px;
        border-radius: 2px;
        background-color: #fff;
        color: #000;
        font-size: 12px;
    }
}