.husky-auto-complete-loading {
	label::after {
		content: '';
		font-family: $baseIconFont;
		z-index: 100;
		float: right;
		display: inline-block;
		position: relative;
		top: 35px;
		right: 7px;
		z-index: 1;
	}
}

.husky-auto-complete-success {
    @extend %abstract-success;
}

.husky-auto-complete-error {
	@extend %abstract-error;
}

.husky-auto-complete-loading {
	label::after {
		@extend %abstract-loader;
		top: 37px;
	}
}

.husky-auto-complete {
	&.dropdown {
		width: 100%;
	}

	.dropdown-menu {
		top: 40px;
	}
}
