.auto-complete-list-container {
    position: relative;
    ul {
        margin: 0;
        list-style: none;
    }

    .toggler {
        position: absolute;
        right: 0px;
        bottom: 3px;
        content: "";
        display: inline-block;
        height: 20px;
        width: auto;
        padding: 5px 10px;
        cursor: pointer;
        text-align: center;
    }

    .arrow-down span,
    .arrow-up span {
        width: 0;
        height: 0;
        display: block;
    }

    .arrow-down span {
        border-left: 4px solid rgba(0, 0, 0, 0);
        border-right: 4px solid rgba(0, 0, 0, 0);
        border-top: 6px solid #000000;
    }

    .arrow-up span {
        border-left: 4px solid rgba(0, 0, 0, 0);
        border-right: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid #000000;
    }

    label {
        cursor: default;
    }

    .auto-complete-list {
        font-size: $smallFontSize;
        min-height: 30px;
        border-radius: 4px 4px 0 0;
        margin: 0;
    }
    .tt-suggestions {
        width: 100%;
    }
}

.auto-complete-list {
    padding: 1px 8px;
    border-radius: 4px;
    background-color: #fff;
    margin: 0;
    border: 1px solid $grayLighter;

    .husky-auto-complete {
        background: none;
        border-radius: 0;
        position: static;
        margin: 0;

        input[type="text"] {
            margin: 7px 10px 7px 0 !important;
            padding: 0;
            width: 100px;
            border: 0;
            outline: 0;
            border-radius: 0;
            height: auto;
        }
    }
}

.auto-complete-list-selection {
    display: inline-block;
    margin: 4px 5px 4px 0;
    padding: 0 4px 2px 4px;
    border-radius: 2px;
    background-color: #ccc;
    color: #000;
    font-size: 12px;
    line-height: normal;

    .tm-tag-remove {
        @extend .icon-remove;
        font-family: $baseIconFont;
        position: relative;
        top: 2px;
        padding-left: 2px;
        cursor: pointer;
        text-decoration: none;
        color: $black;
    }
}

.auto-complete-list-suggestions {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ddd;

    h5 {
        margin: 0;
        padding: 5px 8px;
        border-bottom: 1px solid #e9e9e9;
        color: #999999;
        font-size: 12px;
    }

    ul {
        padding: 8px 8px 15px;
        margin: 0;
    }

    li {
        display: inline-block;
        margin-right: 5px;
        padding: 0 4px;
        border-radius: 2px;
        background-color: #fff;
        color: #000;
        font-size: 12px;
        cursor: pointer;
    }

    .deactivated {
        cursor: auto;
        color: $grayLight;
    }
}
