.husky-auto-complete-success {
    @extend %abstract-success;
}

.husky-auto-complete-error {
	@extend %abstract-error;
}



.twitter-typeahead {
	width: 100%;
}

.tt-suggestions {
  	width: 400px;
	top: 37px;
  	border-top: 1px solid $grayLightest;
  	background: $white;
}

.tt-hint {
	display: none;
}

.tt-suggestion {
	height: 25px;
  	padding: 0 15px;

  	.border {
		border-bottom: 1px solid $grayLightest;
	  	height: 25px;
	  	clear: both;
	  	.img {
			float: left;
		  	padding: 5px 10px 0 5px;
		}
	  	.text {
		  	float: left;
		  	line-height: 25px;
		}
	}
  	&:last-child .border {
	 	border-bottom: none;
	}
}

.tt-suggestion:hover,
.tt-is-under-cursor {
	background: $grayLighterer;
  	border-color: transparent;
}

.suggestion {
	color: $black;
}