.collection-navigation-container {
    width: 250px;
    height: 100%;
}

.collection-navigation {
    height: 100%;
    padding-top: 100px;
    background-color: $navigationActiveColor;
    color: #fff;
}

.collection-navigation-header {
    position: relative;
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #21272E;
    line-height: 50px;
    font-size: 16px;
    color: #999;
}

.collection-navigation-list-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.collection-navigation-list {
    width: 100%;
    height: 100%;
    background-color: $navigationActiveColor;

    &.is-animated {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 5;
    }
}

.collection-navigation-list-footer {
    padding: 20px 0;
    text-align: center;
}

.collection-navigation-items {
    height: calc(100% - 150px);
    min-height: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;

    & > li {
        position: relative;
        height: 50px;
        line-height: 50px;
        padding: 0 30px 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
            background-color: #21272E;
        }

        &:focus {
            outline: 0;
        }

        &:last-child {
            border-bottom: 1px solid #21272E;
        }

        &.not-selectable {
            cursor: default;

            &:hover {
                background-color: initial;
            }
        }
    }
}

.collection-navigation-item-name {
    display: inline-block;
    width: calc(100% - 45px);
    text-overflow: ellipsis;
    overflow: hidden;

    .fa-chevron-right {
        position: absolute;
        right: 10px;
        top: 18px;
        font-size: 14px;
        color: #999;
    }
}

.collection-navigation-item-thumb {
    position: relative;
    top: 6px;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.collection-navigation-back {
    padding-left: 20px;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

    .fa-chevron-left {
        position: absolute;
        top: 18px;
        left: 10px;
        font-size: 14px;
        color: #fff;
    }
}

.collection-navigation-add {
    .fa-plus-circle {
        margin-right: 5px;
        float: left;
        font-size: 16px;
    }
}

.collection-navigation-loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 4px 0;
}

.collection-navigation-info {
    text-align: center;
    line-height: 50px;
}
