.column-navigation-wrapper {
     overflow: hidden;
     position: relative;
     top: 0px;
     left: 0px;
     min-width: 100%;

    .column-navigation {
        background-color: $white;
        border-style: solid;
        border-color: $grayLighter;
        border-width: 0 1px 1px 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        min-height: 200px;
        max-height: 750px;

        &.overflow {
            .column:last-child {
                border-right: none;
            }
        }

        .column-navigation-loader {
            position: relative;
            left: 0;
            top: 50%;
            margin-top: -50px;
        }

        .column {
            border-right: 1px solid $grayLighter;
            overflow-y: auto;
            overflow-x: hidden;
            display: inline-block;
            font-size: 0;
            height:100%;
            position: relative;
            top: 0px;
            left: 0px;

            .no-page {
                position: absolute;
                top: 50%;
                left: 0px;
                height: 110px;
                width: 100%;
                text-align: center;
                color: $grayLighter;
                height: 160px;
                margin-top: -55px;

                .fa-file-o {
                  font-size: 72px;
                  line-height: 80px;
                }
                .text {
                    padding-top: 5px;
                    font-size: $baseFontSize;
                    font-weight: bold;
                }
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: $baseFontSize;

                li {
                    padding: 15px 11px 15px 15px;
                    height: 50px;
                    position: relative;
                    top: 0px;
                    left: 0px;
                    @include user-select(none);
                }

                li:hover {
                    background-color: $baseBackgroundColor;
                    .edit {
                      display: block;
                    }
                }
                li.selected {
                  background-color: $baseBackgroundColor;

                  .item-text {
                        font-weight: bold;
                    }
                }

                .inactive {
                    color: $grayLighter;
                }

                .not-published {
                    color: $infoColor;
                    margin-top: 2px;
                    font-size: 40px;
                }
            }
        }

        .item-text {
            padding-top: 2px;
            display: block;
            overflow: hidden;
            word-wrap: break-word;
        }

        .item-text.ghost {
            color: $grayLight;
        }

        .ghost {
            background: $accentColor;
            padding: 0 2px;
            margin-right: 5px;
            margin-top: 3px;
            color: $white;
            border-radius: $borderRadius;
            font-size: $reallySmallFontSize;
        }
        .icons-right {
            position: absolute;
            right: 5px;
            top: 15px;
            height: 20px;
            * {
              line-height: 20px;
            }
        }
        .icons-left {
            display: block;
            float: left;
            height: 20px;
            font-size: 14px;
            * {
              line-height: 20px;
            }
            .ghost {
              line-height: 15px;
            }
        }
        .edit {
            background-color: $accentColor;
            padding: 0px 10px;
            font-size: 12px;
            color: $white;
            border-radius: $borderRadius;
            display: none;
            margin-right: 0;
        }
        .husky-column-navigation-loader {
            position: relative;
            top: 2px;
            left: -2px;
            padding-left: 2px;
        }

          .arrow {
            display: inline-block;
            width: 11px;
            font-size: 12px;
            vertical-align: middle;
            text-align: right;
            color: $black;
            margin: 0;
        }
    }

    .add {
        display: inline-block;
        width: 50%;
        background-color: $accentColor;
        padding: 5px 0;
        color: $white;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        font-size: 16px;
    }

    .settings {
        display: inline-block;
        width: 50%;
        background-color: $grayLighter;
        padding: 5px 0;
        border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        font-size: 16px;
    }
}
