.column-navigation-wrapper {
     overflow: hidden;
     position: relative;
     top: 0px;
     left: 0px;
     min-width: 100%;

    .column-navigation {
        background-color: $white;
        border-style: solid;
        border-color: $grayLighter;
        border-width: 0 1px 1px 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        min-height: 200px;
        max-height: 750px;

        &.overflow {
            .column:last-child {
                border-right: none;
            }
        }

        .navigation-loader {
            position: relative;
            left: 0;
            top: 50%;
            margin-top: -50px;
        }

        .column {
            border-right: 1px solid $grayLighter;
            overflow-y: auto;
            overflow-x: hidden;
            display: inline-block;
            font-size: 0;
            height:100%;

            /*&:nth-child(n+4):last-child {
                border-right: none;
            }*/

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: $baseFontSize;

                li {
                    padding: 15px 11px 15px 15px;
                    height: 50px;
                    position: relative;
                    top: 0px;
                    left: 0px;
                    @include user-select(none);
                }

                li:hover {
                    background-color: $baseBackgroundColor;
                }
                li.selected {
                    @extend li:hover;
                    
                    .item-text {
                        font-weight: bold;
                    }
                }

                .inactive {
                    color: $grayLight;
                }

                .not-published {
                    color: $infoColor;
                    margin-top: 2px;
                    font-size: 40px;
                }
            }
        }

        .item-text {
            padding-top: 2px;
            display: block;
            overflow: hidden;
            word-wrap: break-word;
        }

        .item-text.ghost {
            color: $grayLight;
        }

        .ghost {
            background: $accentColor;
            padding: 0 2px;
            font-size: 10px;
            color: $white;
            border-radius: 3px;
        }
        .icons-right {
            position: absolute;
            right: 5px;
            top: 15px;
        }
        .icons-left {
            display: block;
            float: left;
        }
        .edit {
            margin-right: 5px;
            background-color: $accentColor;
            padding: 0px 10px;
            font-size: 10px;
            color: $white;
            border-radius: 3px;
        }
        .husky-column-navigation-loader {
            position: relative;
            top: 2px;
            left: -2px;
        }

        .arrow {
            display: inline-block;
            width: 11px;
            font-size:10px;
            vertical-align: middle;
        }

    }

    .add {
        display: inline-block;
        width: 50%;
        background-color: $accentColor;
        padding: 5px 0;
        color: $white;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;

    }

    .settings {
        display: inline-block;
        width: 50%;
        background-color: $grayLighter;
        padding: 5px 0;
        border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
    }
}
