.column-navigation {
  background-color: $white;
  border: 1px solid $grayLighter;
  overflow-x: scroll;
  overflow-y: hidden;

  .column {
    width: 250px;
    border-right: 1px solid $grayLighter;
    overflow-y: scroll;

    ul {
      list-style-type: none;
      margin:0;
      padding:0;

      li {
        width: 235px;
        padding: 15px 10px 15px 25px;
        height: 50px;

      }
    }
  }

}
