@import "compass/css3/user-interface";

$columnOptionsListItemHeight: 50px;
$columnOptionsContainerWidth: 400px;


.column-options-parent {
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -($columnOptionsContainerWidth / 2);
}

.column-options-container {
    display:none;
    width: $columnOptionsContainerWidth;
    position: fixed;
    background-color: white;
    border: 0px solid $grayLighter;
    margin: auto;
    overflow: auto;
    z-index: 1000;
    min-width: 160px;
    list-style: none;
    @include user-select(none);
    @include standard-box-shadow;

    &.right-aligned {
        left: auto;
        right: 0;
    }
}

.column-options-header {
    padding: 15px 20px 15px;
    height: 50px;
    border-bottom: 1px solid $grayLighterer;
    position: relative;

    .title {
        color: $grayLight;
        font-size: 23px;
    }

    .close-button {
        font-size: 20px;
        float:right;
        text-decoration: none;
        color: black;
    }

}

.column-options-footer {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    text-align: center;

    .save-button {
        display: inline-block;
    }
}

.column-options-list {
    list-style: none;
    padding-left: 0;
    margin: 10px 0;

    li {
        display: list-item;
        float: none;
        line-height: 1;
        height: $columnOptionsListItemHeight;
        line-height: $columnOptionsListItemHeight;
        white-space: nowrap;
        padding-right: 20px;
    }
}

.column-options-list-item {

    &.is-selected,
    &.hover-style {
        background-color: $grayLighter;
    }

    &.disabled {
        cursor: default;
        color: $grayLight;
        &.hover-style {
            background-color: lighten($grayLighter, 10%);
        }
    }

    .move {
        line-height: 0;
        vertical-align: middle;
        padding-right: 10px;
        padding-left: 20px;
        font-size: 22px;
        cursor: move;
    }

    .visibility-toggle {
        position: absolute;
        padding-right: 10px;
        padding-left: 5px;
        right: 10px;
        &:after {
            line-height: 50px;
            vertical-align:center;
        }
        cursor:pointer;
    }
}

.sortable-placeholder {
    border: 1px dashed rgba(0,0,0,0.3);
    width: 95%;
    height: 95%;
    margin: auto;
    text-align: center;
}
