//
// Column-Navigation
// --------------------------------------------------

.husky-column-navigation {
  height: 100%;

  &.fixed-height-small {
    .column-navigation-wrapper {
      .column-navigation {
        height: 350px;
      }
    }
  }
}

.column-navigation-wrapper {
     position: relative;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;

    .column-navigation {
        height: 100%;
        width: 100%;
        background-color: $white;
        border-style: solid;
        border-color: $borderColor;
        border-width: 0 1px 1px 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        min-height: 200px;
        max-height: 750px;

        &.overflow {
          .column:last-child {
            border-right: none;
          }
        }

        .column-navigation-loader {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -70px;
            width: 100%;
        }

        .column {
            border-right: 1px solid $borderColor;
            overflow-y: auto;
            overflow-x: hidden;
            display: inline-block;
            font-size: 0;
            height:100%;
            position: relative;
            top: 0px;
            left: 0px;
            width: 250px;

            .no-page {
                position: absolute;
                top: 50%;
                left: 0px;
                width: 100%;
                text-align: center;
                color: $grayLighter;
                height: 160px;
                margin-top: -55px;

                .icon {
                  font-size: 72px;
                  line-height: 80px;
                }
                .text {
                    padding-top: 5px;
                    font-size: $baseFontSize;
                    font-weight: bold;
                }
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: $baseFontSize;

                li {
                    padding: 15px 11px 15px 15px;
                    height: 50px;
                    position: relative;
                    top: 0px;
                    left: 0px;
                    @include user-select(none);
                }

                li:hover {
                    background-color: $baseBackgroundColor;
                    .action {
                      display: block;
                    }
                }
                li.selected {
                  background-color: $baseBackgroundColor;

                  .item-text {
                        font-weight: bold;
                    }
                }
                li.marked {
                  .marked-icon {
                    display: block;
                  }
                  .action {
                    display: none;
                  }
                }

                .inactive {
                    color: $grayLighter;
                }

                .not-published {
                    color: $infoColor;
                    font-size: 40px;
                }

                .orderer {
                    display: none;
                }
            }

            &.order-mode {
                .orderer {
                    display: block;
                }
                .icons-left .col-icon {
                    display: none;
                }
                ul li .action {
                    display: none;
                }
            }
        }

        .item-text {
            display: block;
            overflow: hidden;
            word-wrap: break-word;
            float: left;
        }

        .col-icon {
            float: left;
        }

        .item-text.ghost {
            color: $grayLight;
        }

        .ghost {
            background: $accentColor;
            padding: 0 2px;
            margin-right: 5px;
            margin-top: 3px;
            color: $white;
            border-radius: $borderRadius;
            font-size: $reallySmallFontSize;
        }
        .marked-icon {
            width: 14px;
            margin-right: 5px;
            margin-top: 1px;
            color: $grayLight;
            display: none;
        }
        .icons-right {
            position: absolute;
            right: 5px;
            top: 15px;
            height: 20px;
            * {
              line-height: 20px;
            }
        }
        .icons-left {
            display: block;
            float: left;
            height: 20px;
            font-size: 14px;
            & > * {
              line-height: 20px;
            }
            .col-icon {
                margin-right: 5px;
            }
            .ghost {
              line-height: 15px;
            }
            .custom-checkbox {
              line-height: 15px;
              margin-right: 8px;
              margin-top: 2px;
            }
        }
        .action {
            background-color: $accentColor;
            padding: 0px 10px;
            font-size: 12px;
            color: $white;
            border-radius: $borderRadius;
            display: none;
            margin-right: 0;
        }
        .husky-column-navigation-loader {
            position: relative;
            top: 2px;
            left: -2px;
            padding-left: 2px;
        }

          .arrow {
            display: inline-block;
            width: 11px;
            font-size: 12px;
            vertical-align: middle;
            text-align: right;
            color: $black;
            margin: 0;
        }

        .column-item {
            cursor: pointer;

            &.disabled {
                color: $grayLighter;
            }
        }

        .orderer {
            display: block;
            float: left;
            width: 40px;
            padding: 0 10px 0 0;
            .form-element {
                height: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
        }

        .fa-external-link {
          margin-top: 1px;
        }
    }

    .options {
      width: 251px;
    }

    .add {
        display: inline-block;
        width: 50%;
        background-color: $accentColor;
        padding: 5px 0;
        color: $white;
        border-radius: 0 0 0 3px;
        font-size: 16px;
    }

    .ok {
      display: block;
      width: 100%;
      background-color: $accentColor;
      padding: 5px 0;
      color: $white;
      border-radius: 0 0 3px 3px;
      font-size: 16px;
    }

    .settings {
        display: inline-block;
        width: 50%;
        background-color: $grayLighter;
        padding: 5px 0;
        border-radius: 0 0 3px 0;
        font-size: 16px;
    }
}
