//
// Styles for content-types which aren't an own component
// --------------------------------------------------

.sortable {
    .show-in-sortmode {
        display: none;
    }

    &.is-sortmode {
        .show-in-sortmode {
            display: block;
        }

        .cke,
        .hide-in-sortmode {
            display: none;
        }

        .text-block {
            label {
                display: none;
            }

            .form-group {
                margin-top: 0;
            }
        }
    }

    .text-block {
        .move {
            position: relative;

            &::before {
                @extend .fa;
                content: $fa-var-ellipsis-v;
                cursor: move;
                padding-right: 5px;
                position: absolute;
                top: 10px;
                left: 2px;
                z-index: 5;
                color: #999;
                font-size: 16px;
                width: 20px;
                text-align: center;
            }
        }
    }
}

.text-block-controls {
    margin-bottom: -20px; 
}

.text-block {
    margin-bottom: 20px;

    .head {

        label {
            float: left;
            font-size: $bigFontSize;
            margin-bottom: 10px;
            cursor: default;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .options-change {
        cursor: pointer;
        font-size: 16px;

        .dropdown-toggle::after {
            margin-left: 0;
        }
    }

    .options-remove {
        cursor: pointer;
        position: relative;
        top: 2px;
        font-size: 16px;
    }

    .container {
        padding: 10px 20px 20px 20px;
        background: $grayLighterer;
        border: 1px solid $grayLighter;
        @include standard-box-shadow(2px, rgba(0, 0, 0, 0.06));

        label {
            margin-bottom: 10px;
        }

        textarea {
            max-width: 100%;
            min-width: 100%;
            width: 100%;
        }
    }
}

.text-blocks-toggle-btn {
    padding: 5px 0;
    height: auto;
}

.empty {
    .text-block {
        .options-remove {
            display: none;
        }
    }
}

.text-block-footer {
    margin-bottom: 20px;

    .desc {
        font-size: $smallFontSize;
        color: $grayLight;
        padding-left: 10px;
    }
    .btn.full {
        background-color: $grayLighter;
        cursor: default;
    }
}

.block-content {
    display: none;
    color: #999;

    p {
        margin: 5px 0;
    }
}

//
// Block Content-types
// --------------------------------------------------

.white-box {
    width: 100%;
    height: 100%;
    background: $white;
    border-radius: 0 0 $borderRadius $borderRadius;
    border: 1px solid $grayLighter;

    .text {
        font-size: $smallFontSize;
        color: $grayLight;
    }

    .header {
        position: relative;
        top: 0px;
        left: 0px;
        height: 50px;
        border-bottom: 1px solid $grayLighterer;
        line-height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: $smallFontSize;
        @include clear-float;

        .icon {
            display: block;
            font-size: 16px;
            width: 40px;
            height: 30px;
            border-radius: $borderRadiusSmall;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            margin-top: 9px;
            padding-top: 1px;

            &.action {
                background: $blue;
                color: $white;
            }
            &.border {
                border: 1px solid $grayLighter;
                box-sizing: initial;
                height: 28px;
                line-height: 28px;
            }
            &.left {
                float: left;
                margin-right: 20px;
            }
            &.right {
                float: right;
                margin-left: 20px;
            }
        }

        .position {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -16px 0 0 -16px;
        }
    }

    .content {
        position: relative;
        top: 0px;
        left: 0px;

        .loader {
            padding: 50px 0;
        }
        .no-content {
            text-align: center;
            height: 210px;

            .icon {
                display: block;
                position: absolute;
                top: 0px;
                left: 50%;
                padding-top: 15px;
                line-height: 125px;
                margin-left: -65px;
                font-size: 125px;
                color: $grayLightest;
            }
            .text {
                padding-top: 160px;
                font-weight: bold;
                color: $grayLightMedium;
                font-size: 24px;
            }
        }
        .items-list {
            list-style-type: none;
            margin: 0;
            padding: 0 20px;
            li {
                font-size: $baseFontSize;
                line-height: 50px;
                border-bottom: 1px solid $grayLighter;
                position: relative;
                .icon {
                    cursor: move;
                    color: $grayLight;
                    font-size: 15px;
                    padding-right: 15px;
                }
                img {
                    vertical-align: middle;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-right: 20px;
                }
                .num {
                    color: $grayLight;
                    padding-right: 10px;
                }
                .value {
                    color: $grayLight;
                }
                .remove {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -8px;
                    cursor: pointer;
                }
                &:last-child {
                    border-width: 2px;
                }
            }
        }
    }

    .footer {
        padding: 15px 20px 20px 20px;
        line-height: 14px;
        color: $grayLight;
        font-size: $smallFontSize;
        span {
            padding-right: 5px;
        }
    }
}
