//
// Styles for content-types which aren't an own component
// --------------------------------------------------

.sortable {
    .text-block {

        .container,
        .collapsed-container {
            padding-left: 40px;
        }

        & > .move {
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 100%;
            background: $grayLighter;
            z-index: 10;
            text-align: center;
            cursor: move;
            color: $black;
            font-size: 16px;
            border-radius: $borderRadius 0 0 $borderRadius;
            &::before {
                @extend .fa;
                content: $fa-var-ellipsis-v;
                display: block;
                position: relative;
                top: 50%;
                margin-top: -8px;
            }
        }

        .grid-row:last-of-type {
            margin-bottom: 0;
        }
    }
}

.text-block-controls {
    position: absolute;
    top: 0;
    right: 0;
}

.text-block {
    position: relative;
    margin-bottom: 10px;
    background: $white;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;

    .head {

        label {
            float: left;
            font-size: $bigFontSize;
            margin-bottom: 10px;
            cursor: default;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .options-remove {
        cursor: pointer;
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    .options-collapse {
        cursor: pointer;
        font-size: 16px;
        width: 20px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    .container,
    .collapsed-container{
        padding: 20px;
        position: relative;

        label {
            margin-bottom: 10px;
        }

        textarea {
            max-width: 100%;
            min-width: 100%;
            width: 100%;
        }
    }

    .collapsed-container {
        color: $grayLight;
        cursor: pointer;
        padding-top: 10px;
        display: none;
        @include clear-float;
        .title {
            font-weight: bold;
            font-style: oblique;
            margin-bottom: 10px;
        }
        .image {
            float: left;
            margin-right: 10px;
            height: 50px;
            width: 50px;
            overflow: hidden;
        }
        .text {
            $font-size: $baseFontSize;
            $line-height: $baseLineHeight;
            $lines-to-show: 2;

            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            padding-top: 3px;
            height: 45px;
            font-size: $font-size;
            line-height: $line-height;
            -webkit-line-clamp: $lines-to-show;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .type {
            font-size: $smallFontSize;
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

    &.collapsed {
        .container {
            display: none;
        }
        .collapsed-container {
            display: block;
        }
    }
}

.text-blocks-toggle-btn {
    padding: 5px 0;
    height: auto;
    font-size: $smallFontSize;
}

.empty {
    .text-block {
        .options-remove {
            display: none;
        }
    }
}

.text-block-footer {
    margin-bottom: 20px;

    .desc {
        font-size: $smallFontSize;
        color: $grayLight;
        padding-left: 10px;
    }
    .btn.full {
        background-color: $grayLighter;
        cursor: default;
    }
}

.block-content {
    display: none;
    color: #999;

    p {
        margin: 5px 0;
    }
}

//
// Block Content-types
// --------------------------------------------------

.white-box {
    width: 100%;
    height: 100%;
    background: $white;
    border-radius: $borderRadius;
    border: 1px solid $borderColor;
    padding: 0 0 15px 0;

    .text {
        font-size: $smallFontSize;
        color: $grayLight;
    }

    .header {
        position: relative;
        top: 0px;
        left: 0px;
        height: 50px;
        border-bottom: 1px solid $borderColor;
        line-height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: $smallFontSize;
        background: $grayLighterer;
        text-align: center;
        @include clear-float;

        .no-content-message {
            color: $grayLight;
            display: none;
        }

        .selected-counter {
            color: $grayLight;
            font-size: $reallySmallFontSize;
            display: block;
            position: absolute;
            top: 0px;
            left: 70px;
        }

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -10px;
            margin-left: -10px;
            display: none;
        }

        .icon {
            display: block;
            font-size: 16px;
            width: 40px;
            height: 30px;
            border-radius: $borderRadiusSmall;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            margin-top: 9px;
            padding-top: 1px;

            &.action {
                background: $blue;
                color: $white;
            }
            &.border {
                border: 1px solid $grayLighter;
                box-sizing: initial;
                height: 28px;
                line-height: 28px;
            }
            &.left {
                float: left;
                margin-right: -40px;
            }
            &.right {
                float: right;
                margin-left: -40px;
            }
        }

        .position {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -16px 0 0 -16px;
        }
    }

    .content {
        position: relative;
        top: 0px;
        left: 0px;
        max-height: 255px;
        overflow: auto;

        .items-list {
            list-style-type: none;
            margin: 0;
            padding: 0 20px;
            color: $grayLight;
            li {
                font-size: $baseFontSize;
                line-height: 50px;
                border-bottom: 1px solid $borderColor;
                position: relative;
                .icon {
                    cursor: move;
                    color: $black;
                    font-size: 15px;
                    padding-right: 10px;
                }
                img {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-right: 20px;
                    vertical-align: middle;
                }
                .num {
                    color: $grayLight;
                    padding-right: 15px;
                }
                .value {
                    color: $grayLight;
                }
                .remove {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    margin-top: -8px;
                    cursor: pointer;
                    color: $black;
                }
            }
        }
    }

    .footer {
        padding: 15px 20px 20px 20px;
        line-height: 14px;
        color: $grayLight;
        font-size: $smallFontSize;
    }

    &.no-content {
        padding-bottom: 0;
        .header {
            .no-content-message {
                display: inline;
            }
            .position {
                display: none;
            }
            .selected-counter {
                display: none;
            }
        }
    }

    &.is-loading {
        .header {
            .loader {
                display: block;
            }
            .no-content-message {
                display: none;
            }
            .position {
                display: none;
            }
            .selected-counter {
                display: none;
            }
        }
    }
}
