.data-navigation-container {
    height: 100%;
}

.data-navigation {
    height: 100%;
    overflow: hidden;
    background-color: $grayLighterer;
    color: $black;

    .data-navigation-header {
        display: table;
        table-layout: fixed;
        height: 50px;
        width: 100%;
        background-color: $grayLighter;

        .header-item {
            display: table-cell;
            width: 50px;
            height: 50px;

            position: relative;
            cursor: pointer;

            .icon-container {
                display: table-cell;
                width: 50px;
                text-align: center;

                span {
                    font-size: 20px;
                    line-height: 50px;
                    vertical-align: middle;
                }
            }

            .content-container {
                display: none;
                width: 100%;
                position: relative;
                top: 1px;
                padding-left: 10px;

                font-size: 12px;
            }
        }

        .data-navigation-back {
            background-color: $grayLight;
            color: $white;

            .icon-container {
                span {
                    font-size: 14px;
                }
            }
        }

        .data-navigation-search {
            border-right: 1px solid rgba(255, 255, 255, 0.2);

            .fa-search {
                font-size: 18px;
            }

            .search-container {
                .search-icon {
                    right: 0;
                }

                .remove-icon {
                    display: none !important;
                }

                #search-input {
                    padding-left: 15px;
                    padding-right: 30px;
                    font-size: 12px;
                }
            }
        }

        .data-navigation-add, .header-filler {
            width: 100%;
            padding: 0 20px;
            border: none;

            .content-container {
                display: table-cell;
            }
        }

        &.header-search {
            .data-navigation-add, .header-filler {
                display: none;
            }

            .data-navigation-search {
                width: 100%;
                padding: 0 20px;
                border: none;

                .content-container {
                    display: table-cell;
                }
            }
        }
    }
}

.data-navigation-list-container {
    height: calc(100% - 50px);
    overflow: auto;
    position: relative;
    padding: 15px 0 10px 0;

    .data-navigation-list-scroll {
        position: relative;
        min-height: calc(100% - 40px);

        .data-navigation-list {
            background-color: $grayLighterer;
            width: 100%;
            height: 100%;

            &.is-animated {
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 5;
            }

            .data-navigation-items {
                height: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: auto;

                & > li {
                    position: relative;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 30px 0 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;

                    &:hover {
                        background-color: $grayLighter;
                    }

                    &:focus {
                        outline: 0;
                    }

                    &.not-selectable {
                        cursor: default;

                        &:hover {
                            background-color: initial;
                        }
                    }
                }
            }
        }
    }
}

.data-navigation-item-name {
    display: inline-block;
    width: calc(100% - 45px);
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;

    .fa-chevron-right {
        position: absolute;
        right: 10px;
        top: 18px;
        font-size: 14px;
    }
}

.data-navigation-item-thumb {
    position: relative;
    top: 6px;
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.data-navigation-loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 4px 0;
}

.data-navigation-info {
    text-align: center;
    line-height: 50px;
    height: 100%;
}

.data-navigation-info-empty {
    color: $grayLight;
    font-size: $baseFontSize;
}
