//
// Table view (Datagrid decorator), styling example
// --------------------------------------------------

.husky-table.light{
    .table {
        .custom-checkbox input + .icon {
            border-color: $grayLight;
        }

        tr.row {
            border-bottom: 1px solid $grayLighter;

            th, td {
                border-right: none;
            }
        }

        thead {
            .is-sortable {
                color: $grayLight;
            }

            tr {
                background: transparent;

                th {
                    font-weight: bold;
                }
            }
        }

        tbody {
            tr.selected {
                border-left: none;
            }

            .row.even, .row.odd {
                background: transparent;
            }
        }

        .task-state {
            width: 30px;
            text-align: center;
            margin-left: 10px;

            &.fa-check-circle{
                color: $green;
            }
            &.fa-exclamation-triangle{
                color: $yellowWarning;
            }
            &.fa-ban{
                color: $red;
            }
        }
    }
}
