.husky-datagrid {
    position: relative;

    table {
        td {

            input{
                margin: 0 0 0 -2px;
                border-color: $white;
            }

            // Remove when validation type for serverside validation is implemented
            .server-validation-error {
                border-color: #AD0710 !important;
                border-width: 2px !important;
            }

            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    thead {
        tr {
            height: 30px;
            padding-top: 10px;
            border-color: $grayLighter;
        }
        th {
            padding-top: 0;
            font-weight: normal;

            &.is-sortable {
                color: black;
                cursor: pointer;
            }
            &.is-selected {
                font-weight: bold;
            }
        }

        .table-container {
            width: 100%;
        }
    }

    tbody {
        tr:last-child {
            border-width: 2px;
        }
        .check {
            padding-left: 10px;
        }
    }

    .table-container {
        overflow: auto;

        &.overflow:after {
            color: $grayLighter;
            font-size: 22px;
            font-family: $baseIconFont;
            content: '\e212';
            position: absolute;
            right: -35px;
            top: 40%;
        }
    }

    .datagrid-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;
    }

    .dropdown-menu {
        margin-top: 5px;
    }
    .dropdown-toggle::after {
        margin-left: 12px;
    }
}
