.data-navigation-container {
    height: 100%;
}

.data-navigation {
    height: 100%;
    overflow: hidden;
    background-color: $grayLighterer;
    color: $black;

    .data-navigation-header {
        height: 50px;
        background-color: $grayLighter;

        .header-item {
            width: 0%;
            position: relative;
            cursor: pointer;

            border-right: 1px solid white;
            overflow: hidden;

            @include transition(width 300ms);

            .icon-container {
                width: 50px;
                height: 50px;
                position: relative;

                .icon {
                    font-size: 16px;
                    display: block;
                    @include centerBlock();
                }
            }

            .content-container {
                height: 50px;
                line-height: 50px;
                position: absolute;
                margin-right: 10px;
                top: 0;
                left: 51px;

                vertical-align: middle;
                font-size: 16px
            }
        }

        .header-item:last-child {
            border: none;
        }

        .data-navigation-back {
            background-color: $grayLight;
            color: $white;
        }

        .data-navigation-add {
            width: 100%
        }

        .data-navigation-search {
            &:hover, &.focused {
                width: 100%;
            }

            .search-container {
                .search-icon {
                    display: none;
                }

                .remove-icon {
                    line-height: 50px;
                    background: none;
                }

                #search-input {
                    padding-left: 15px;
                    padding-right: 30px;
                }
            }
        }
    }
}

.data-navigation-list-container {
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 10px 0;

    .data-navigation-list-scroll {
        position: relative;

        .data-navigation-list {
            width: 100%;
            height: 100%;

            &.is-animated {
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 5;
            }

            .data-navigation-items {
                height: 100%;
                min-height: calc(100% - 150px);
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: auto;

                & > li {
                    position: relative;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 30px 0 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;

                    &:hover {
                        background-color: $grayLight;
                    }

                    &:focus {
                        outline: 0;
                    }

                    &.not-selectable {
                        cursor: default;

                        &:hover {
                            background-color: initial;
                        }
                    }
                }
            }
        }
    }
}

.data-navigation-item-name {
    display: inline-block;
    width: calc(100% - 45px);
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;

    .fa-chevron-right {
        position: absolute;
        right: 10px;
        top: 18px;
        font-size: 14px;
    }
}

.data-navigation-item-thumb {
    position: relative;
    top: 6px;
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.data-navigation-loader-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 150px);
    left: 0;
    top: 0;
    padding: 4px 0;
}

.data-navigation-info {
    text-align: center;
    line-height: 50px;
    height: calc(100% - 150px);
}

.data-navigation-info-empty {
    color: $grayLight;
    font-size: $baseFontSize;
}
