.husky-datagrid {
    table {
        //        table-layout: fixed;

        td {
            overflow: hidden;
        }
    }

    thead {
        tr {
            height: 30px;
            padding-top: 10px;
        }
        th {
            padding-top: 0;
            font-weight: normal;

            &.is-sortable {
                color: black;
                cursor: pointer;
            }
            &.is-selected {
                font-weight: bold;
            }
        }
    }

    &.oversized {
        .table-cell {
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            white-space: nowrap;
        }
    }

    // overflow
    &.overflow {

        table {
            position: relative;
        }


        .select-all {
            position: absolute;
            left: 0;
        }



        .table-container {
            overflow: auto;
        }
    }

}
