//
// Dialog Styling
//
// Inspired by Bootstrap
// http://getbootstrap.com/2.3.2/javascript.html#modals
// --------------------------------------------------

// Imports
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/background-clip";
@import "compass/css3/transition";
@import "compass/reset/utilities";


// Dark background for dialog
.husky-dialog-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: black;
}

.husky-dialog-backdrop.fade {
    opacity: 0;
}

.husky-dialog-backdrop,
.husky-dialog-backdrop.fade.in {
    opacity: 0.06;
    filter: alpha(opacity=06);
}

// Dialog Classes
.husky-dialog {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    background-color: $white;
    font-size: 18px;
    //border: 1px solid $grayLighter;
    //border: 1px solid rgba(0, 0, 0, 0.3);
    //*border: 1px solid $grayLight;

    //border-radius: 6px;
    outline: none;

    @include box-shadow(rgba(0, 0, 0, 0.1) 3px 3px 0px);
    @include background-clip(padding-box);
}

.husky-dialog label {
  //color:#f00;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  display: inline;
  padding-left: 10px;

}

.husky-dialog.fade {

    @include transition-property(opacity, top);
    @include transition-duration(0.3s, 0.3s);
    @include transition-timing-function(linear, ease-in);
}

.husky-dialog.fade.in {
    top: 10%;
}

.husky-dialog-header {
    p, div, span, button {
      margin: 9px 15px;
      //border-bottom: 1px solid $grayLighter;
    }
}

.husky-dialog-header .close {
    margin-top: 2px;
}

.husky-dialog-body {
  h3 {
      font-size: 24px;
      padding-bottom: 15px;
      margin: 0;
      color: #000000;
      border-bottom: 2px solid #E3E3E3;
  }
}

.husky-dialog-body {
    position: relative;
    max-height: 400px;
    padding: 20px;
    overflow-y: auto;
    min-height: 150px;
}

.husky-dialog-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: $white;
    border-top: 1px solid $grayLighter;
    border-radius: 0 0 6px 6px;
    *zoom: 1;
    @include box-shadow($white 0 1px 0 inset);
}

.husky-dialog-footer:before,
.husky-dialog-footer:after {
    display: table;
    line-height: 0;
    content: "";
}

.husky-dialog-footer:after {
    clear: both;
}

.husky-dialog-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 20px;
}

