.husky-dropdown-multiple-select {

    position: relative;

    .dropdown-label {
        background: $grayLighter;
        padding: 5px 5px 5px 10px;
        border-radius: 4px;
        clear: both;
        font-size: $smallFontSize;
        .checkbox {
            padding-right: 20px;
        }
        .dropdown-toggle {
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }

    &.disabled {
        .dropdown-label {
            background: $grayLighterer;
            color: $gray;
            cursor: default;
        }
        .dropdown-toggle {
            cursor: default;
        }
        .dropdown-toggle:after {
            border-top-color: $gray;
            cursor: default;
        }
    }

    .dropdown-list {
        width: 100%;
        /*display: inline-block;*/
        position: absolute;
        top: 20px;
        left: 0;
        margin-top: 5px;
        background-color: #FFF;
        border: 1px solid $grayLighter;
        z-index: 95;

        .disabled,
        .disabled:hover {
            background: none;
            cursor: default;
            .item-value {
                color: $grayLight;
            }
        }
        .check {
            float: left;
            width: 20px;
            margin-right: 10px;
            padding-top: 7px;
        }
        .item-value {
            float: left;
            line-height: 30px;
        }

        & > ul {
            list-style: none;
            margin: 0;
            padding: 10px 0;

            input {
                margin: 0;
            }

            & > li {
                padding: 0px 10px 0px 20px;
                clear: both;
                height: 30px;

                &:hover,
                &.hover {
                    background-color: $highlightColor;
                    cursor: pointer;
                }
                &:hover .item-value {
                    color: $white;
                }
            }
        }
    }

}
