.husky-dropdown-multiple-select {

  position:relative;

  .dropdown-label {
    background: #ccc;
    padding: 10px;
    border-radius: 6px;

    &.dropdown-open {
      background: #999 !important;
    }
  }

  .dropdown-list {
    width:100%;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    position: absolute;
    top: 20px;
    left: 0;
    margin-top: 20px;
    background-color: #FFF;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .25);
    z-index: 95;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 5px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid #FFF;
    }

    &::before {
      top: -11px;
      left: 4px;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;

      border-bottom: 11px solid #ccc;
    }

    &.dropdown-align-right {
      left: auto !important;
      right: 0;
      &::after,
      &::before {
        left: auto !important;
        right: 5px;
      }
    }

    & > ul {
      list-style: none;
      margin: 0;
      padding: 10px 0;

      & > li {
        padding: 5px 10px;

        &:hover,
        &.hover {
          background-color: #ccc;
          cursor: pointer;
        }
      }
    }
  }

}