//
// Form Elements
// --------------------------------------------------


// Text Inputs
// -------------------------
input {
    &.input-text {
    	box-shadow: inset 0 0 0 1px $inputBorderColor;

        &:focus {
            box-shadow: inset 0 0 0 1px $highlightColor;
            outline: 0;
        }

        &.has-error {
            box-shadow: inset 0 0 0 1px $errorColor;
        }
    }
}


// Checkboxes
// -------------------------
.custom-checkbox {
	$checkboxSize: 14px;
	$checkboxIconFont: 'Glyphicons';
	$checkboxIcon: "\e207";

	width: $checkboxSize;
	height: $checkboxSize;
	vertical-align: middle;
	opacity: 0;
	cursor: pointer;

	&:checked,
	&.is-checked {
		& + .custom-checkbox-icon {
			&::after {
				content: $checkboxIcon;
				position: relative;
				top: -3px;
			}
		}
	}

	& + .custom-checkbox-icon {
		// custom checkbox styling
		display: inline-block;
		width: $checkboxSize;
		height: $checkboxSize;
		margin-left: -$checkboxSize;

		border: 1px solid $inputBorderColor;
		background-color: #fff;
		font-family: $checkboxIconFont;
		font-size: 12px;
		text-align: center;
		vertical-align: middle;
	}
}

// Labels
// -------------------------
label {
	color: $labelColor;
}