//
// Grid System
// --------------------------------------------------


.grid {
    display: block;
}

.grid-row {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

[class*='grid-col-'] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;

    &:last-of-type {
        padding-right: 0;
    }

    &:first-of-type {
        padding-left: 0;
        padding-right: 10px;
    }
}

.grid-col-1 {
    width: 8.33%;
}

.grid-col-2 {
    width: 16.66%;
}

.grid-col-3 {
    width: 25%;
}

.grid-col-4 {
    width: 33.33%;
}

.grid-col-5 {
    width: 41.66%;
}

.grid-col-6 {
    width: 50%;
}

.grid-col-7 {
    width: 58.33%;
}

.grid-col-8 {
    width: 66.66%;
}

.grid-col-9 {
    width: 75%;
}

.grid-col-10 {
    width: 83.33%;
}

.grid-col-11 {
    width: 91.66%;
}