//
// Header Bar
// --------------------------------------------------


.headerbar {
    color: $grayLight;
    width: 100%;
    height: 50px;
    padding: 10px 16px;
    background-color: $baseColor;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .25);
}

.headerbar-logo {
    float: left;
    font-size: 18px;
    color: #fff;
    line-height: 30px;

    &::after {
        content: " ";
        clear: both;
    }
}

.headerbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
}

//
// Header Bar Left
// --------------------------------------------------
    
#headerbar-left {
    float:left;
    width: 240px;

    #headerbar-account-icon {
        height: 30px;
        width: 25px;
        background: #999;   
    }

    #headerbar-account-icon,
    #headerbar-account-text,
    #headerbar-account-logout {
        float:left;
    }

    #headerbar-account-text {
        margin-left:10px;
        margin-top: 10px;
        font-weight: bold;
        font-size:14px;
    }

    #headerbar-account-logout{
        margin-left: 5px;
        margin-top: 10px;
        font-size:12px;
    }
    
}

// 
// Header Bar Mid
// --------------------------------------------------

#headerbar-mid {
    float:left;
    width: 800px;
    margin-left:60px;
    font-weight:bold;
    
    #headerbar-mid-left {
        float:left;
        width: 48%;
        font-size: 18px;
        margin-top: 8px;
    }

    #headerbar-mid-right {
        float:right;
        width: 48%;
        text-align: right;
        font-size:14px;
        margin-top: 10px;
    }
}


//
// Header Bar Right
// --------------------------------------------------

#headerbar-right {
    float:right;
    width:10%;
}

// change styling for other modules
.navigation {
    padding-top: 100px !important;
}
