//
// Icons
// --------------------------------------------------

.icon-class {
    font-family: 'Glyphicons';
}

[class^="icon-"] {
    font-family: 'Glyphicons';
}

.icon-remove {
    &::after {
        content: "\E208";
        display: inline-block;
    }
}

.icon-add {
    &::after {
        content: "\E191";
        display: inline-block;
    }
}

.icon-down {
    &::after {
        content: "\e159";
        display: inline-block;
    }
}

.icon-search {
    &::after {
        content: "\e028";
        display: inline-block;
    }
}

.icon-circle-remove {
    &::after {
        content: "\e193";
        display: inline-block;
    }
}

.icon-circle-arrow-down {
    &::after {
        content: "\e220";
        display: inline-block;
    }
}

.icon-circle-ok {
    &::after {
        content: "\e199";
        display: inline-block;
    }
}

.icon-edit {
    &::after {
        content: "\e151";
        display: inline-block;
    }
}

.icon-settings {
    &::after {
        content: "\e281";
        display: inline-block;
    }
}

.icon-cogwheel {
    &::after {
        content: "\e137";
        display: inline-block;
    }
}

.icon-cogwheels {
    &::after {
        content: "\e138";
        display: inline-block;
    }
}

.icon-caution {
    &::after {
        content: "\e197";
        display: inline-block;
    }
}

.icon-contact-book {
    &::after {
        content: "\e089";
        display: inline-block;
    }
}

.icon-parents {
    &::after {
        content: "\e025";
        display: inline-block;
    }
}

.icon-keys {
    cursor: pointer;
    &::after {
        content: "\e045";
        display: inline-block;
    }
}

.icon-building {
    &::after {
        content: "\e090";
        display: inline-block;
    }
}

.icon-bank {
    &::after {
        content: "\e264";
        display: inline-block;
    }
}

.icon-book {
    &::after {
        content: "\e072";
        display: inline-block;
    }
}

.icon-book-open {
    &::after {
        content: "\e352";
        display: inline-block;
    }
}

.icon-view {
    &::after {
        content: "\e052";
        display: inline-block;
    }
}

.icon-delete {
    &::after {
        content: "\e017";
        display: inline-block;
    }
}

.icon-live {
    &::after {
        content: "\e033";
        display: inline-block;
    }
}

.icon-security {
    &::after {
        content: "\e205";
        display: inline-block;
    }
}

.icon-chevron-right {
  &::after {
    content: "\e244";
    display: inline-block;
  }
}

.icon-archive {
    &::after {
        content: "\e150";
        display: inline-block;
    }
}

.icon-check {
  &::after {
    content: "\e153";
    display: inline-block;
  }
}

.icon-adjust-alt {
    &::after {
        content: "\e140";
        display: inline-block;
    }
}

.icon-list {
    &::after {
        content: "\e115";
        display: inline-block;
    }
}

.icon-shevron-right {
    &::after {
        content: "\e224";
        display: inline-block;
    }
}
.icon-items {
    &::after {
        content: "\e319";
        display: inline-block;
    }
}

.icon-star {
    &::after {
        content: "\e050";
        display: inline-block;
    }
}

.icon-arrow-down {
  &::after {
    content: "\e224"; // TODO change to correct icons when included in font,  remove rotate
    display: inline-block;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

    transform: rotate(90deg);
  }
}

.icon-arrow-up {
  &::after {
    content: "\e225"; // TODO change to correct icons when included in font,  remove rotate
    display: inline-block;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

    transform: rotate(90deg);
  }
}
