//
// Icons
// --------------------------------------------------

[class^="icon-"] {
    font-family: 'Glyphicons';
}

.icon-remove {
    &::after {
        content: "\E208";
        display: inline-block;
    }
}

.icon-add {
    &::after {
        content: "\E191";
        display: inline-block;
    }
}

.icon-down {
    &::after {
        content: "\e159";
        display: inline-block;
    }
}

.icon-search {
    &::after {
        content: "\e028";
        display: inline-block;
    }
}

.icon-circle-remove {
    &::after {
        content: "\e193";
        display: inline-block;
    }
}

.icon-circle-arrow-down {
    &::after {
        content: "\e220";
        display: inline-block;
    }
}

.icon-circle-ok {
    &::after {
        content: "\e199";
        display: inline-block;
    }
}

.icon-edit {
    &::after {
        content: "\e151";
        display: inline-block;
    }
}

.icon-settings {
    &::after {
        content: "\e281";
        display: inline-block;
    }
}

.icon-cogwheel {
    &::after {
        content: "\e137";
        display: inline-block;
    }
}

.icon-cogwheels {
    &::after {
        content: "\e138";
        display: inline-block;
    }
}

.icon-caution {
    &::after {
        content: "\e197";
        display: inline-block;
    }
}

.icon-contact-book {
    &::after {
        content: "\e089";
        display: inline-block;
    }
}

.icon-parents {
    &::after {
        content: "\e025";
        display: inline-block;
    }
}

.icon-keys {
    cursor: pointer;
    &::after {
        content: "\e045";
        display: inline-block;
    }
}

.icon-building {
    &::after {
        content: "\e090";
        display: inline-block;
    }
}

.icon-bank {
    &::after {
        content: "\e264";
        display: inline-block;
    }
}

.icon-book {
    &::after {
        content: "\e072";
        display: inline-block;
    }
}

.icon-book-open {
    &::after {
        content: "\e352";
        display: inline-block;
    }
}
