.husky-label-error,
.husky-label-warning,
.husky-label-success {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    color: $white;
    font-size: $smallFontSize;
    z-index: 200;

    &.big {
        height: 70px;
    }
    &.small {
        height: 30px;
    }

    &:before {
        // allows to vertical align text and close elements
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    strong {
        font-weight: bold;
        padding-right: 3px;
    }
    .text {
        display: inline-block;
        vertical-align: middle;
    }
    .close {
        width: 55px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        font-size: 15px;
    }
}

.husky-label-error,
.husky-label-warning,
.husky-label-success,
.husky-label-success-icon {
    .counter {
        span {
            display: inline-block;
            vertical-align: baseline;
            $radius: 7px;
            width: 2 * $radius;
            height: 2 * $radius;
            border-radius: $radius;
            line-height: 2 * $radius;
            text-align: center;
            font-size: $reallySmallFontSize;
            background: $white;
            font-weight: bold;
        }
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 50px;
        height: 100%;
        line-height: 70px;
    }
}

.husky-label-success-icon {
    height: 100px;
    background: $green;
    text-align: center;
    padding: 0 10px;
    position: relative;
    &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 35px;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2248px%22%20height%3D%2238px%22%20viewBox%3D%220%200%2048%2038%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%3Ctitle%3EType%20something%3C%2Ftitle%3E%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%3Cdefs%3E%3C%2Fdefs%3E%20%3Cg%20id%3D%22Basics%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%20%3Cg%20id%3D%22Success-Message%22%20sketch%3Atype%3D%22MSArtboardGroup%22%20transform%3D%22translate(-99.000000%2C%20-19.000000)%22%20stroke%3D%22%23FFFFFF%22%3E%20%3Cg%20id%3D%22Toolbar%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%20%3Cg%20id%3D%22Navigation%2FNavigation-Standard%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%20%3Cg%20id%3D%22Client%22%3E%20%3Cpath%20d%3D%22M146.379414%2C26.9419509%20C146.379414%2C27.7398803%20146.100142%2C28.4181101%20145.541592%2C28.9766607%20L123.877917%2C50.6403351%20L119.808498%2C54.7097546%20C119.249947%2C55.2683052%20118.571718%2C55.5475763%20117.773788%2C55.5475763%20C116.975859%2C55.5475763%20116.297629%2C55.2683052%20115.739078%2C54.7097546%20L111.669659%2C50.6403351%20L100.837822%2C39.8084979%20C100.279271%2C39.2499473%20100%2C38.5717175%20100%2C37.7737882%20C100%2C36.9758588%20100.279271%2C36.297629%20100.837822%2C35.7390784%20L104.907241%2C31.6696589%20C105.465792%2C31.1111083%20106.144022%2C30.8318372%20106.941951%2C30.8318372%20C107.73988%2C30.8318372%20108.41811%2C31.1111083%20108.976661%2C31.6696589%20L117.773788%2C40.4967086%20L137.402753%2C20.8378217%20C137.961303%2C20.2792711%20138.639533%2C20%20139.437463%2C20%20C140.235392%2C20%20140.913622%2C20.2792711%20141.472172%2C20.8378217%20L145.541592%2C24.9072412%20C146.100142%2C25.4657917%20146.379414%2C26.1440215%20146.379414%2C26.9419509%20L146.379414%2C26.9419509%20Z%22%20id%3D%22Type-something%22%3E%3C%2Fpath%3E%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        margin-top: 20px;
        margin-bottom: 5px;
        @include transition(margin-top 500ms);
    }
    .text {
        color: $white;
        font-size: $reallySmallFontSize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: 1;
        @include transition(opacity 500ms);
    }
    .counter {
        right: auto;
        left: 0;
        color: $green;
        line-height: normal;
        padding: 5px;
    }
}

.husky-label-error {
    background: $red;
    .counter {
        color: $red;
    }
}

.husky-label-warning {
    background: $yellow;
    color: $black;
    .counter {
        color: $yellow;
    }
}

.husky-label-success {
    background: $green;
    .counter {
        color: $green;
    }
}
