.husky-label-error,
.husky-label-warning,
.husky-label-success {
    $height: 70px;

    width: 100%;
    height: $height;
    position: relative;
    top: 0px;
    left: 0px;
    color: $white;
    line-height: $height;
    padding-left: 55px;
    font-size: $smallFontSize;
    z-index: 15000;

    strong {
        font-weight: bold;
        padding-right: 3px;
    }
    .close {
        position: absolute;
        top: 0;
        left: 0;
        height: $height;
        line-height: $height;
        cursor: pointer;
        padding: 0 20px;
        font-size: 15px;
    }
    .counter {
        span {
            display: inline-block;
            vertical-align: baseline;
            $radius: 7px;
            width: 2 * $radius;
            height: 2 * $radius;
            border-radius: $radius;
            line-height: 2 * $radius;
            text-align: center;
            font-size: $reallySmallFontSize;
            background: $white;
            font-weight: bold;
        }
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 50px;
        height: 100%;
        line-height: $height;
    }
}

.husky-label-error {
    background: $red;
    .counter {
        color: $red;
    }
}

.husky-label-warning {
    background: $yellow;
    .counter {
        color: $yellow;
    }
}

.husky-label-success {
    background: $green;
    .counter {
        color: $green;
    }
}
