.husky-label-error,
.husky-label-warning,
.husky-label-success {
    width: 100%;
    height: 30px;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 0 0 $borderRadius $borderRadius;
    color: $white;
    line-height: 30px;
    padding-left: 20px;
    font-size: $smallFontSize;
    z-index: 15000;

    strong {
        font-weight: bold;
        padding-right: 3px;
    }
    .close {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        padding: 0 10px;
        font-size: 15px;
    }
    .counter {
        $radius: 7px;
        width: 2 * $radius;
        height: 2 * $radius;
        border-radius: $radius;
        line-height: 2 * $radius;
        text-align: center;
        font-size: $reallySmallFontSize;
        position: absolute;
        top: 7px;
        right: 30px;
        background: $white;
        color: $green;
        font-weight: bold;
    }
}

.husky-label-error {
    background: $red;
    .counter {
        color: $red;
    }
}

.husky-label-warning {
    background: $yellow;
    .counter {
        color: $yellow;
    }
}

.husky-label-success {
    background: $green;
    .counter {
        color: $green;
    }
}
