//
// Matrices
// --------------------------------------------------

.table.matrix {
    margin-bottom: 30px;

    th {
        vertical-align: baseline;

        &.general {
            width: 140px;
            font-weight: bold;
        }

        &.section {
            width: 180px;
        }
    }

    td {
        &.value {
            width: 20px;
            padding: 3px;
            margin: 0;
        }

        &.all {
            text-align: left;
            padding-left: 16px;
        }
        &.section {
            color: $grayLight;
        }
    }

    .icon {

        border: 1px solid $black;
        color: $black;
        border-radius: 12px;

        width: 24px;
        height: 24px;
        line-height: 22px;

        display: inline-block;
        text-align: center;

        &.is-active {
            color: $white;
            border-color: $green;
            background-color: $green;
        }
    }
}
