//
// Matrices
// --------------------------------------------------

.table.matrix {
    margin-bottom: 30px;

    th {
        vertical-align: baseline;

        &.general {
            font-size: 24px;
            width: 160px;
        }

        &.section {
            width: 130px;
        }
    }

    td {
        &.value {
            width: 20px;
            padding: 4px;
            margin: 0;
        }

        &.all {
            text-align: right;
            padding-right: 10px;
        }
    }

    span[class^="icon-"] {
        opacity: 0.2;

        border: 1px solid #000;
        border-radius: 12px;

        width: 24px;
        height: 24px;
        line-height: 23px;

        display: inline-block;
        text-align: center;

        &.is-active {
            opacity: 1;
        }
    }
}