@import "../mixins.scss";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

$footerOuterHeight: 121;
$footerOuterHeightColappsed: 51;
$footerTopMargin: 40;

@mixin toggle-item {
    border-bottom: 1px solid $navigationActiveColor;
    height: inherit;
    padding-bottom: 15px;
}

@mixin subitem-icon-before {
    @extend .fa;
    font-size: 12px;
    content: $fa-var-caret-right;
    display: inline-block;
    height: 15px;
    text-align: right;
    line-height: 15px;
    position: absolute;
    top: 7px;
    left: 0px;
    padding-right: 9px;
}


$verticalMargin: 20px;
$verticalItemPadding: 35px;
$transitionDuration: 0.5s;
$transDurationIcons: 0.2s;
$fadeDuration: 100ms;


.section-headline {
    position: relative;
    font-size: 12px;
    padding: 2px 0 0px;
    margin: 10px $verticalMargin 0;
    height: 20px;
    color: rgba(255,255,255, 0.2);
    font-weight: bold;
    cursor: default;

    .section-toggle {
        display: none;
        position: absolute;
        top: 2px;
        right: 0;
        a {
            color: $grayDark;
        }
    }

    .section-headline-title {
        white-space: nowrap;
    }

    &:hover {
        .section-toggle {
            display: block;
        }
    }
}
.husky-navigation {
  float: left;
  height: 100%;

}
.navigation {
    width: 250px;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: $navigationBackgroundColor;
    overflow-x: visible;
    z-index: 101;



    .navigation-close-icon {
        display: none;
        opacity: 0;
        height: 0;
        -webkit-transform: scale3d(1,1,1); // this is a webkit bugfix
    }


    &.collapseIcon .navigation-close-icon {
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        left: 100%;
        top: 0;
        background-color: $navigationBackgroundColor;
        line-height: 30px;
        vertical-align: center;
        color: white;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        border-radius: 0 0 $borderRadiusSmall 0;
        opacity: 1;
    }
}

.navigation-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: rgba(255,255,255, 0.5);
    font-size: 16px;

    a {
        display: inline-block;
        text-decoration: none;
        color: rgba(255,255,255, 0.5);
        outline: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    /*for sticky navigation footer*/
    .wrapper {
        min-height: 100%;
        margin-bottom: -($footerOuterHeight * 1px);
        overflow: hidden;

        &:after {
            content: "";
            display: block;
            height: ($footerOuterHeight + $footerTopMargin) * 1px //height of footer plus "margin"
        }
    }
}

.navigation-header {
    height: 30px;
    overflow: hidden;
    margin: 40px $verticalMargin 30px;
}

.navigation-header-title {
    display: inline-block;
    font-size: 18px;
    color: $white;
    margin: 0;
    line-height: 30px;
}

.logo {
    display: inline-block;
    margin-right: 10px;
    float: left;
    width: 30px;
    height: 30px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjMwcHgiIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDMwIDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4wLjEgKDc1OTcpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlNsaWNlIDE8L3RpdGxlPgogICAgPGRlc2NyaXB0aW9uPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjcmlwdGlvbj4KICAgIDxkZWZzPgogICAgICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iNDkuOTk5NTk2OCUiIHkxPSItMC4wMDAzNDQ2MDg1MjYlIiB4Mj0iNDkuOTk5NTk2OCUiIHkyPSIxMDAuMDAyNTUlIiBpZD0ibGluZWFyR3JhZGllbnQtMSI+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiM3QUM5NDMiIG9mZnNldD0iMCUiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iIzNGQTlGNSIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiPgogICAgICAgIDxnIGlkPSIwMy1TdWx1LVNpZ25ldC1Db2xvcigyKSIgc2tldGNoOnR5cGU9Ik1TTGF5ZXJHcm91cCIgZmlsbD0idXJsKCNsaW5lYXJHcmFkaWVudC0xKSI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0yOS44NTUsMTMuNzg1IEMzMC4xMjgsMTMuMzQgMzAuMDA1LDEyLjcyNSAyOS41ODMsMTIuNDE4IEwyMi40ODksNy4yNjQgQzIyLjA2Nyw2Ljk1NyAyMS42NzcsNi4yODEgMjEuNjIyLDUuNzYyIEwyMS4xMjYsMS4wMzYgQzIxLjA3MiwwLjUxNyAyMC42MjIsMC4yMjggMjAuMTI3LDAuMzkzIEwwLjY0NSw2LjkwOCBDMC4xNSw3LjA3NCAtMC4xMTgsNy42MTMgMC4wNSw4LjEwOCBMMy43MzksMTguOTcxIEMzLjkwNywxOS40NjUgNC40NjIsMTkuOTYgNC45NzIsMjAuMDcgTDIyLjYxNiwyMy44ODUgQzIzLjEyNiwyMy45OTUgMjMuNzY3LDIzLjcyMSAyNC4wMzksMjMuMjc2IEwyOS44NTUsMTMuNzg1IEwyOS44NTUsMTMuNzg1IFogTTEzLjgwMyw4Ljk2MSBDMTMuNDk1LDkuMzgzIDEyLjgyNiw5LjYzNiAxMi4zMTYsOS41MjQgTDQuMDMyLDcuNzAyIEMzLjUyMiw3LjU5IDMuNTEsNy4zNjMgNC4wMDUsNy4xOTcgTDE3Ljc2OSwyLjU5NCBDMTguMjY0LDIuNDI4IDE4LjQxNywyLjYzOCAxOC4xMSwzLjA2IEwxMy44MDMsOC45NjEgTDEzLjgwMyw4Ljk2MSBaIE0xOS40MDUsMy41NTggQzE5LjcxMywzLjEzNiAyMC4wMDksMy4yMTYgMjAuMDY0LDMuNzM1IEwyMS43NTcsMTkuODggQzIxLjgxMSwyMC4zOTkgMjEuNjA1LDIwLjQ3OCAyMS4yOTksMjAuMDU1IEwxNC45MTMsMTEuMjQ0IEMxNC42MDcsMTAuODIxIDE0LjYwOCwxMC4xMzEgMTQuOTE2LDkuNzA5IEwxOS40MDUsMy41NTggTDE5LjQwNSwzLjU1OCBaIE0xLjkxNyw5LjQzOSBDMS43NDksOC45NDUgMi4wMjksOC42MzIgMi41MzksOC43NDQgTDEyLjIwOCwxMC44NzEgQzEyLjcxOCwxMC45ODMgMTMuMzg2LDExLjQyMSAxMy42OTIsMTEuODQzIEwyMC42NTYsMjEuNDUgQzIwLjk2MiwyMS44NzMgMjAuNzk2LDIyLjEyOCAyMC4yODUsMjIuMDE3IEw1Ljk5NiwxOC45MjIgQzUuNDg2LDE4LjgxMSA0LjkzMSwxOC4zMTcgNC43NjMsMTcuODIyIEwxLjkxNyw5LjQzOSBMMS45MTcsOS40MzkgWiBNMjIuMDA4LDkuNDQzIEMyMS45NTQsOC45MjQgMjIuMjU1LDguNzUgMjIuNjc3LDkuMDU3IEwyNy43OTQsMTIuNzc1IEMyOC4yMTYsMTMuMDgyIDI4LjMzOSwxMy42OTcgMjguMDY2LDE0LjE0MiBMMjMuODEsMjEuMDk4IEMyMy41MzgsMjEuNTQzIDIzLjI3LDIxLjQ4MyAyMy4yMTYsMjAuOTY0IEwyMi4wMDgsOS40NDMgTDIyLjAwOCw5LjQ0MyBaIiBpZD0iU2hhcGUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
    background-position: center center;
    background-repeat: no-repeat;
}

.navigation-search {
    position: relative;
    margin: 0px $verticalMargin;
    padding: 10px 0;
    height: 50px;

    .search-icon {
        opacity: 1;
    }
}

li.is-active {
    > .navigation-items-toggle a,
    > .navigation-subitems-toggle a {
        color: $white;
    }

    > div > a.navigation-settings-icon {
        display: block;
        color: $grayLight;
    }
}

.navigation-item-container .navigation-items {
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 50px;

    &:hover:not(.is-active) {
        background-color: $navigationHoverColor;

        &.is-expanded {
          .navigation-items-toggle {
            border-bottom-color: $navigationBackgroundColor
          }
        }
    }

    > div {
        position: relative;
        width: 100%;
        padding-left: $verticalMargin;
        padding-right: $verticalMargin;
    }

    &.is-active {
        background-color: $navigationActiveColor;

        &.is-expanded {
            .navigation-items-toggle {
                border-bottom-color: $navigationBackgroundColor
            }
        }
    }

    &.is-expanded {
        padding-bottom: 20px;

        .navigation-items-toggle {
            @include toggle-item;
            height: 50px;
        }

        > .navigation-items-list {
            display: block;
            opacity: 1;
            @include single-transition(opacity, $fadeDuration, false, 75ms);
        }

    }

    &.is-selected {
        a {
            color: white;
        }
    }

    /* sub-items */
.navigation-items-list {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        opacity: 0;
        font-size: 14px;
        padding-left: 54px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
        z-index: 100;
        @include single-transition(opacity, $fadeDuration);
    }

    /* sub-sub-items */
    ul ul {
        font-size: 12px;
        padding-left: 20px;
    }

    li {
        border-radius: $borderRadius;
        cursor: pointer;
        position: relative;
        top: 0px;
        left: 0px;
        height: 30px;

        &:hover:not(.navigation-subitems) a::before {
            @include subitem-icon-before;
        }

        &.is-selected {

            a {
                color: white;

                &::before {
                    @include subitem-icon-before;
                }
            }
        }

        a {
            padding: 0px 0 0px 10px;
            height: 100%;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 28px;
            display: inline-block;
            color: rgba(255,255,255, 0.75);
            min-height: 30px; /* prohibits height changes on select */
        }
    }
}

.navigation-subitems {
    &.is-expanded {
        > .navigation-items-list {
            display: block;
        }
        .navigation-subitems-toggle {
            @include toggle-item;
            padding-bottom: 0;
        }
    }
}

.navigation-item {
    width: 100%;
    display: inline-block;
    padding: 0 0px;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
}

.navigation-item-title {
    padding-left: $verticalItemPadding;
    height: 100%;
    line-height: 50px;
    display: inline-block;
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navigation-item-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 3px;
    font-size: 20px;
    height: 100%;
    line-height: 48px;
}

.navigation-items-toggle {
    position: relative;
    height: 50px;
    border-bottom: 1px solid transparent;
    z-index: 200;
}

li a.navigation-settings-icon {
    width: auto;
    position: absolute;
    right: $verticalMargin * 2;
    top: 15px;
    font-size: 14px;
    display: none;
}

.navigation-toggle-icon {
    width: auto;
    position: absolute;
    right: $verticalMargin;
    top: 20px;
    font-size: 12px;
}

.navigation-subitems-toggle {
    padding: 2px 0 2px;
    position: relative;
    height: 30px;

    .navigation-toggle-icon {
        top: 3px;
    }

    .navigation-item {
        padding: 0px;
    }

}

.navigation footer {
    padding: 15px 20px 15px 23px;
    height: $footerOuterHeight * 1px;
    background-color: $navigationActiveColor;

    .user {
        font-size: $smallFontSize;
        color: $white;
        margin-bottom: 15px;
        height: 20px;
        white-space: nowrap;

        .pic {
            color: $white;
            text-align: right;
            font-size: 20px;
            display: inline-block;
            margin-right: 15px;
        }
        .name {
            display: inline-block;
            vertical-align: middle;
            padding-bottom: 5px;
        }
    }

    .options {
        height: 20px;
        margin-bottom: 15px;
        padding-left: 35px;
        white-space: nowrap;
        position: relative;
        top: 0px;
        left: 0px;

        .locale-dropdown {
            color: $black;
            width: 60px;
        }
        .dropdown-list {
            min-width: 150px;
        }
        .logout {
            color: white;
            cursor: pointer;
            font-size: 20px;
            display: block;
            display: block;
            text-decoration: none;
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
    .version {
        padding-left: 35px;
        font-size: $reallySmallFontSize;
        color: $navigationFooterGray;
        white-space: nowrap;

        a {
            color: $white;
            text-decoration: none;
        }
    }
}

/**
 * MINIFIED NAVIGATION
 */

.navigation.collapsed {
    width: 50px;
    overflow-x: hidden;

    .navigation-header {
        margin-left: 10px;
        margin-right: 0;
    }

    .navigation-header-title {
        opacity: 0;
    }

    .section-headline {
        opacity: 0;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navigation-search.search-container {
        margin: 0;
        margin-left: 8px;

        input {
            opacity: 0;
            z-index: 0;
        }
        .search-icon {
            opacity: 1;
            z-index: 100;
            color: $searchBarGray;
        }
    }

    // navigation items
    *, .is-active, .is-expanded {
        .navigation-settings-icon,
        .navigation-toggle-icon {
            opacity: 0;
            @include single-transition(opacity, $transDurationIcons);
        }
    }
    .navigation-item-title {
        opacity: 0;
    }

    .navigation-items {
        div {
            border: rgba(0,0,0,0) !important;
            padding: 0 !important;
            margin: 0 !important;
            line-height: 0;
        }

        a {
            padding: 0;
        }

        .navigation-items-list {
            opacity: 0;
            display: none;
        }
    }

    li {
        padding: 0;
    }

    .navigation-item-icon {
        margin-left: 15px;
        padding-left: 0px;
        line-height: 50px;
        vertical-align: middle;
    }

    footer {
        padding-left: 15px;
        height: auto;
        cursor: pointer;
        height: ($footerOuterHeightColappsed) * 1px;
        overflow: hidden;

        * {
            opacity: 0;
            height: 0px;
            margin: 0px;
        }
        .user {
            opacity: 1;
            height: 20px;
            .pic {
                opacity: 1;
                height: 20px;
            }
        }
    }

    .navigation-content {
        .wrapper {
            margin-bottom: -($footerOuterHeightColappsed * 1px); //height of collapsed navigation footer
            &:after {
                height: ($footerOuterHeightColappsed + $footerTopMargin) * 1px; //height of minified navigation footer plus 40px "margin"
            }
        }
    }
}

.navigation-tooltip {
    position: absolute;
    height: 30px;
    left: 60px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 10px;
    color: white;
    background-color: $navigationActiveColor;
    border-radius: $borderRadiusSmall;
    z-index: 1000;

    &::before {
        content: ' ';
        position: absolute;
        left: -10px;
        top: 10px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 10px solid $navigationActiveColor;
    }
}

//effects
.navigation {
    @include single-transition(width, $transitionDuration);
}

.navigation footer,
.navigation footer > *,
.navigation .wrapper,
.navigation .wrapper:after,
.navigation-items * {
  @include single-transition(all, $transitionDuration);
}

.navigation-items {
  @include transition(all 0, opacity $transitionDuration, background $transitionDuration);
}

.navigation-header {
    @include single-transition(margin, $transitionDuration);
    
    .navigation-header-title {
        @include single-transition(opacity, $transitionDuration);
    }
}

.navigation-search {
    @include single-transition(margin, $transitionDuration);
    input {
        @include single-transition(width, $transitionDuration);
    }
}

.section-headline,
.section-headline * {
    @include single-transition(all, $transitionDuration);
}

.navigation-item-title {
    @include single-transition(opacity, $transitionDuration);
}

.search-icon {
    @include single-transition(color, $transitionDuration);
}

.navigation:not(.collapsed) {
    * {
        opacity: 1;
    }
}
