//
// Navigation
// --------------------------------------------------


// Imports
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "animation";


// Sizes
$navigationColumnWidth: 250px;
$navigationColumnHeight: 700px;

$navigationEntryHeight: 50px;


// Colors
$bgNavigationColumn: #FFF;
$bgNavigationMainColumn: $baseColor;

$colorNavigationMainColumn: #999;
$colorNavigationMainColumnHover: #000;

$bgNavigationEntryHover: #E0E0E0;
$bgNavigationMainColumnEntryHover: #FFF;

// Fonts 
$navigationIconFont: $baseIconFont;


// Animations
@include keyframes(foldOut) {
    0% {
        @include transform3d(rotate3d(0, 1, 0, 100deg));
    }
    50% {
        box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0);
    }
    100% {
        @include transform3d(rotate3d(0, 1, 0, 0deg));
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .25);
    }
}


.navigation,
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation {
    height: 100%;
    padding: 100px 0 50px;

    position: fixed;
    top: 0;
    left: 0;
}

.navigation-columns {
    @include perspective(600px);

    height: 100%;
    white-space: nowrap;
}

.navigation-column {
    @include transition(width 0.4s ease-in-out);
    @include animation(foldOut .3s 1);
    @include transform3d(rotate3d(0, 1, 0, 0deg));
    @include backface-visibility(hidden);
    @include transform-style(preserve-3d);
    @include transform-origin(0, 50%);

    display: inline-block;
    vertical-align: top;

    width: $navigationColumnWidth;
    height: 100%;
    overflow: hidden;

    border-right: 1px solid $bgNavigationEntryHover;
    background-color: $bgNavigationColumn;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .25);

    &:first-child {
        border-right: 0;
        color: $colorNavigationMainColumn;
        background-color: $bgNavigationMainColumn;

        &:hover {
            width: $navigationColumnWidth !important;

            .navigation-column-entry {
                &::before {
                    display: inline-block !important;
                }
            }
        }

        .navigation-column-entry {
            &:hover,
            &.selected {
                color: $colorNavigationMainColumnHover;
                background-color: $bgNavigationMainColumnEntryHover;
            }
        }
    }

    &.collapsed {
        width: 50px;

        .navigation-column-entry {
            &::before {
                display: none;
            }
        }
    }
}

.navigation-entries {
    height: 100%;
    overflow: auto;
}

.navigation-column-entry {
    padding: 0 10px;
    width: 100%;
    height: $navigationEntryHeight;
    line-height: $navigationEntryHeight;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover,
    &.selected {
        background-color: $bgNavigationEntryHover;
        box-shadow: inset 1px 0 0 0 #FFF;
    }

    &::before {
        content: "\e224";
        display: inline-block;
        float: right;
        font-size: 12px;
        font-family: $navigationIconFont;
        font-weight: normal;
    }

    &.loading {
        &::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            float: right;
            position: relative;
            top: 16px;
            background: url('../img/loader.gif') no-repeat center center;
        }
    }

    &.selected {
        cursor: default;
    }

    &[data-has-children="true"] {
        font-weight: bold;
    }

    [class*="icon-"] {
        display: inline-block;
        margin: 0 15px 0 5px;
        padding: 0;
        float: left;
        font-size: 20px;
        font-family: $navigationIconFont;

        &::after {
            content: "";
            display: block;
        }
    }
}