@import "../mixins.scss";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";


@mixin toggle-item {
    border-bottom: 1px solid $gray;
    height: inherit;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

@mixin subitem-icon-before {
    font-family: $baseIconFont;
    font-size: 11px;
    content: "\e174";
    display: inline-block;
    margin-left: -15px;
    width: 15px;
    overflow: visible;
    position: relative;
//    top: -1px;
    line-height: 11px;
}


$verticalMargin: 20px;
$verticalItemPadding: 35px;
$transitionDuration: 0.5s;


.section-headline {
    position: relative;
    font-size: 12px;
    padding: 2px 0 0px;
    margin: 10px $verticalMargin 0;
    height: 20px;
    color: $grayDark;
    font-weight: bold;
    cursor: default;
    //@include text-shadow($gray 1px 1px);

    .section-toggle {
        display: none;
        position: absolute;
        top: 2px;
        right: 0;
        a {
            color: $grayDark;
        }
    }

    .section-headline-title {
        white-space: nowrap;
    }

    &:hover {
        .section-toggle {
            display: block;
        }
    }
}

.navigation {
    float: left;
    width: 250px;
    height: 100%;
    background-color: $navigationBackgroundColor;
    overflow-x: visible;
    position: fixed;
    top: 0px;
    z-index: 101;



    .navigation-close-icon {
        display: none;
        opacity: 0;
        height: 0;
    }


    &.collapseIcon .navigation-close-icon {
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        left: 100%;
        top: 0;
        background-color: $navigationBackgroundColor;
        line-height: 30px;
        vertical-align: center;
        color: white;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        opacity: 1;
    }
}

.navigation-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px 0px 20px;
    color: $grayLight;
    font-size: 16px;

    a {
        display: inline-block;
        text-decoration: none;
        color: $grayLight;
        outline: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.navigation-header {
    height: 40px;
    overflow: hidden;
    margin: 0 $verticalMargin 20px;
}

.navigation-header-title {
    display: inline-block;
    font-size: 18px;
    color: $white;
    margin: 0;
    line-height: 35px;
}

.navigation-header-image {
    display: inline-block;
    margin-right: 10px;
    float: left;

    img {
        border-radius: 32px;
    }
}

.navigation-search {
    position: relative;
    margin: 0px $verticalMargin;
    padding: 10px 0;
    height: 50px;

    .search-icon {
        opacity: 1;
    }
}

li.is-active {
    > .navigation-items-toggle a,
    > .navigation-subitems-toggle a {
        color: $white;
    }

    > div > a.navigation-settings-icon {
        display: block;
        color: $grayLight;
    }
}

.navigation-items {
    padding: 0px $verticalMargin;
    overflow: hidden;
    min-height: 50px;
    max-height: 50px;

    &:hover:not(.is-active) {
        background-color: rgba(black, 0.05);
    }

    > div {
        position: relative;
        padding-left: 0px;
        width: 210px;

        > a {
            line-height: 50px;
            vertical-align: middle;
        }
    }

    &.is-active {
        background-color: #282828;
    }

    &.is-expanded {
        min-height: 50px;
        padding-bottom: 20px;
        max-height: 1000px;

        .navigation-items-toggle {
            @include toggle-item;
            height: 50px;
        }

        > .navigation-items-list {
            display: block;
        }

    }

    &.is-selected {
        a {
            color: white;
        }
    }

    /* sub-items */
    .navigation-items-list {
        opacity: 0;
        font-size: 14px;
        padding-left: 55px;
    }

    /* sub-sub-items */
    ul ul {
        font-size: 12px;
        padding-left: 20px;
    }

    li {
        margin: 0 0 0 -10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover:not(.navigation-subitems) a::before {
            @include subitem-icon-before;
        }

        &.is-selected {

            a {
                color: white;

                &::before {
                    @include subitem-icon-before;
                }
            }
        }

        a {
            padding: 5px 0 0px 10px;
            display: inline-block;
            min-height: 30px; /* prohibits height changes on select */
        }
    }
}

.navigation-subitems {
    &.is-expanded {
        > .navigation-items-list {
            display: block;
        }
        .navigation-subitems-toggle {
            @include toggle-item;
            padding-bottom: 0;
        }

        li {
            &:hover::before {
                //font-size: 8px;
                //height:25px;
            }
        }
    }

    &:hover:not(.is-active):not(.is-expanded) {
        //background-color: rgba(black,0.05);
    }
}

.navigation-item {
    width: 100%;
    display: inline-block;
    padding: 0 0px;
    position: relative;
    top: 2px;
    min-height: 50px;
}

.navigation-item-title {
    position: relative;
    top: 2px;
    padding-left: $verticalItemPadding;
}

.navigation-item-icon {
    position: absolute;
    //top: -3px;
    padding-left: 3px;
    font-size: 18px;
}

.navigation-items-toggle {
    position: relative;
    height: 50px;
    border-bottom:1px solid transparent;
}

li a.navigation-settings-icon {
    width: auto;
    position: absolute;
    right: 20px;
    top: 4px;
    font-size: 14px;
    display: none;
}

.navigation-toggle-icon {
    width: auto;
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 10px;
}

.navigation footer {
    border-top: 1px solid #5B5B5B;
    padding-top: 20px;
    margin: 80px $verticalMargin 0 $verticalMargin + $verticalItemPadding;
    font-size: 12px;

    .version {
        font-size: 10px;
    }

}

.navigation-subitems-toggle {
    padding: 2px 0 2px;
    position: relative;
    height: 30px;

    .navigation-toggle-icon {
        top: 5px;
    }

    .navigation-item {
        padding: 0px;
    }

}

/**
 * MINIFIED NAVIGATION
 */

.navigation.collapsed {
    width: 50px;
    overflow-x: hidden;

    .navigation-header {
        margin-left: 10px;
        margin-right: 0;
    }

    .navigation-header-title {
        opacity: 0;
    }

    .section-headline {
        opacity: 0;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navigation-search {
        margin: 0;
        margin-left: 8px;

        input {
            opacity: 0;
            z-index: 0;
        }
        .search-icon {
            opacity: 1;
            z-index: 100;
            color: $grayLight;
        }
    }

    // navigation items
    *, .is-active, .is-expanded {
        .navigation-settings-icon,
        .navigation-toggle-icon {
            opacity: 0;
        }
    }
    .navigation-item-title {
        opacity: 0;
    }

    .navigation-items {
        div {
            border: rgba(0,0,0,0);
            padding: 0 !important;
            margin: 0 !important;
            line-height: 0;
        }

        a {
            padding: 0;
        }

        .navigation-items-list {
            opacity: 0;
            display:none;
        }
    }

    li {
        padding: 0;
    }

    .navigation-item-icon {
        margin-left: 13px;
        line-height: 50px;
        vertical-align: middle;
    }

    .section:not(:first-child) {
        border-top: 1px solid $gray;
    }

    footer {
        opacity: 0;
        height: 0;
    }

}

.navigation-tooltip {
    position: absolute;
    height: 30px;
    left: 60px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 10px;
    color: white;
    background-color: $navigationBackgroundColor;

    &::before {
        content: ' ';
        position: absolute;
        left: -10px;
        top: 10px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 10px solid $navigationBackgroundColor;
    }
}

//.navigation,
.navigation {
    @include single-transition(width, $transitionDuration);
}

.navigation-items {
    @include single-transition(all, $transitionDuration);
}
.navigation-items *{
    @include single-transition(all, $transitionDuration);
}

.navigation-header {
    @include single-transition(margin, $transitionDuration);
    
    .navigation-header-title {
        @include single-transition(opacity, $transitionDuration);
    }
}

.navigation-search {
    @include single-transition(margin, $transitionDuration);
    input {
        @include single-transition(width, $transitionDuration);
    }
}

.section-headline,
.section-headline * {
    @include single-transition(all, $transitionDuration);
}

.navigation-item-title {
    @include single-transition(opacity, $transitionDuration);
}

.search-icon {
    @include single-transition(color, $transitionDuration);
}

.navigation:not(.collapsed) {
    * {
        opacity: 1;
    }
}
