//
// Navigation
// --------------------------------------------------


// Imports
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "animation";


// Sizes
$navigationColumnWidth: 250px;
$navigationColumnHeight: 700px;

$navigationItemWidth: 249px;
$navigationItemHeight: 50px;


// Colors
$bgNavigationColumn: #FFF;
$bgNavigationMainColumn: $baseColor;
$bgNavigationSecondColumn: #E0E0E0;

$colorNavigationColumnTitle: #999;
$colorNavigationMainColumn: #999;
$colorNavigationMainColumnHover: #000;
$colorNavigationSecondColumnHover: #FFF;

$bgNavigationItemHover: #E0E0E0;
$bgNavigationMainColumnItemHover: #FFF;
$bgNavigationSecondColumnItemHover: $baseColor;

// Fonts 
$navigationIconFont: $baseIconFont;


// Animations
@include keyframes(foldOut) {
    0% {
        @include transform3d(rotate3d(0, 1, 0, 100deg));
    }
    50% {
        box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0);
    }
    100% {
        @include transform3d(rotate3d(0, 1, 0, 0deg));
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .25);
    }
}


.navigation,
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation {
    height: 100%;
    padding: 50px 5px 50px 0;

    position: fixed;
    top: 0;
    left: 0;
}

.navigation-columns {
    @include perspective(700px);

    height: 100%;
    white-space: nowrap;

    &.show-content {
        .navigation-column {
            width: 0;
            border-right: 0;
        }

        & > .navigation-column {
            &:first-child,
            &.second-column {
                width: 50px;
                .navigation-column-item {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

.navigation-column {
    @include transition(width 0.4s ease-in-out);
    @include animation(foldOut .4s 1);
    @include transform3d(rotate3d(0, 1, 0, 0deg));
    @include backface-visibility(hidden);
    @include transform-style(preserve-3d);
    @include transform-origin(0, 50%);

    display: inline-block;
    vertical-align: top;

    width: $navigationColumnWidth;
    height: 100%;
    overflow: hidden;

    border-right: 1px solid $bgNavigationItemHover;
    background-color: $bgNavigationColumn;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .25);

    &.second-column {
        border-right: 0;
        background-color: $bgNavigationSecondColumn;

        .navigation-column-item {
            &:hover,
            &.selected {
                color: $colorNavigationSecondColumnHover;
                background-color: $bgNavigationSecondColumnItemHover;
            }
        }
    }

    &.content-column {
        width: 150px !important;
        max-width: 150px;
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .25)!important;
        .navigation-column-item {
            width: 100%;
        }
    }

    &.collapsed {
        width: 50px;

        .navigation-column-item {
            &::before {
                display: none;
            }
        }
    }

    &.hide {
        width: 0 !important;
    }
}

.navigation-columns {
    & > .navigation-column {
        &:first-child {
            border-right: 0;
            color: $colorNavigationMainColumn;
            background-color: $bgNavigationMainColumn;

            .navigation-column-item {
                &:hover,
                &.selected {
                    color: $colorNavigationMainColumnHover;
                    background-color: $bgNavigationMainColumnItemHover;
                }
            }
        }
    }
}

.navigation-column-header {
    height: 100px;
    padding: 30px 20px 30px 10px;
}

.navigation-column-title {
    display: inline-block;
    padding-left: 40px;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    margin: 0;
    color: $colorNavigationColumnTitle;
}

.navigation-column-logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;

    & + .navigation-column-title {
        padding-left: 0;
        position: relative;
        top: -6px;
    }
}

.navigation-items {
    overflow: hidden;
}

.navigation-column-item {
    padding: 0 10px;
    width: $navigationItemWidth;
    height: $navigationItemHeight;
    margin-left: 1px;
    line-height: $navigationItemHeight;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 18px;

    &:hover,
    &.selected {
        background-color: $bgNavigationItemHover;
    }

    &::before {
        content: "\e224";
        display: inline-block;
        float: right;
        font-size: 12px;
        font-family: $navigationIconFont;
        font-weight: normal;
    }

    &.loading {
        &::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            float: right;
            position: relative;
            top: 16px;
            background: url('../img/loader.gif') no-repeat center center;
        }
    }

    &.selected {
        cursor: default;
    }

    &[data-has-children="true"] {
        font-weight: bold;
    }

    [class*="icon-"] {
        display: inline-block;
        margin: 0 20px 0 5px;
        padding: 0;
        float: left;
        font-size: 16px;
        font-family: $navigationIconFont;

        &::after {
            content: "\E281"; /* remove this shit */
            display: block;
        }
    }
}

.navigation-sub-columns-container {
    display: inline-block;
    height: 100%;
}

.navigation-sub-columns {
    position: relative;
    left: auto;
    right: auto;
    height: 100%;
    overflow: hidden;
    min-width: 250px;
    padding-bottom: 5px !important;
    padding-right: 5px !important;
}