@import "../mixins.scss";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

$footerOuterHeight: 121;
$footerOuterHeightColappsed: 51;
$footerTopMargin: 40;

@mixin toggle-item {
    border-bottom: 1px solid $gray;
    height: inherit;
    padding-bottom: 15px;
}

@mixin subitem-icon-before {
    font-family: $baseIconFont;
    font-size: 13px;
    content: "\e174";
    display: inline-block;
    height: 15px;
    text-align: right;
    line-height: 15px;
    position: absolute;
    top: 7px;
    left: 0px;
    padding-right: 9px;
}


$verticalMargin: 20px;
$verticalItemPadding: 35px;
$transitionDuration: 0.5s;
$fadeDuration: 100ms;


.section-headline {
    position: relative;
    font-size: 12px;
    padding: 2px 0 0px;
    margin: 10px $verticalMargin 0;
    height: 20px;
    color: $grayDark;
    font-weight: bold;
    cursor: default;

    .section-toggle {
        display: none;
        position: absolute;
        top: 2px;
        right: 0;
        a {
            color: $grayDark;
        }
    }

    .section-headline-title {
        white-space: nowrap;
    }

    &:hover {
        .section-toggle {
            display: block;
        }
    }
}

.navigation {
    float: left;
    width: 250px;
    height: 100%;
    background-color: $navigationBackgroundColor;
    overflow-x: visible;
    position: fixed;
    top: 0px;
    z-index: 101;



    .navigation-close-icon {
        display: none;
        opacity: 0;
        height: 0;
        -webkit-transform: scale3d(1,1,1); // this is a webkit bugfix
    }


    &.collapseIcon .navigation-close-icon {
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        left: 100%;
        top: 0;
        background-color: $navigationBackgroundColor;
        line-height: 30px;
        vertical-align: center;
        color: white;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        opacity: 1;

    }
}

.navigation-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: $grayLight;
    font-size: 16px;

    a {
        display: inline-block;
        text-decoration: none;
        color: $grayLight;
        outline: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    /*for sticky navigation footer*/
    .wrapper {
        min-height: 100%;
        margin-bottom: -($footerOuterHeight * 1px);
        overflow: hidden;

        &:after {
            content: "";
            display: block;
            height: ($footerOuterHeight + $footerTopMargin) * 1px //height of footer plus "margin"
        }
    }
}

.navigation-header {
    height: 30px;
    overflow: hidden;
    margin: 40px $verticalMargin 20px;
}

.navigation-header-title {
    display: inline-block;
    font-size: 18px;
    color: $white;
    margin: 0;
    line-height: 30px;
}

.navigation-header-image {
    display: inline-block;
    margin-right: 10px;
    float: left;

    img {
        border-radius: 32px;
    }
}
.navigation-header-text {
    display: inline-block;
    margin-right: 10px;
    float: left;
    width: 30px;
    height: 30px;
    background: $white;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: $black;
    overflow: hidden;

    span {
        margin-left: -1px;
    }
}

.navigation-search {
    position: relative;
    margin: 0px $verticalMargin;
    padding: 10px 0;
    height: 50px;

    .search-icon {
        opacity: 1;
    }
}

li.is-active {
    > .navigation-items-toggle a,
    > .navigation-subitems-toggle a {
        color: $white;
    }

    > div > a.navigation-settings-icon {
        display: block;
        color: $grayLight;
    }
}

.navigation-item-container .navigation-items {
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 50px;

    &:hover:not(.is-active) {
        background-color: $navigationHoverColor;
    }

    > div {
        position: relative;
        padding-left: 0px;
        width: 210px;
        margin-left: $verticalMargin;
        margin-right: $verticalMargin;
    }

    &.is-active {
        background-color: $navigationActiveColor;
    }

    &.is-expanded {
        padding-bottom: 20px;

        .navigation-items-toggle {
            @include toggle-item;
            height: 50px;
        }

        > .navigation-items-list {
            display: block;
            opacity: 1;
            @include single-transition(opacity, $fadeDuration, false, 75ms);
        }

    }

    &.is-selected {
        a {
            color: white;
        }
    }

    /* sub-items */
.navigation-items-list {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        opacity: 0;
        font-size: 14px;
        padding-left: 54px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
        z-index: 100;
        @include single-transition(opacity, $fadeDuration);
    }

    /* sub-sub-items */
    ul ul {
        font-size: 12px;
        padding-left: 20px;
    }

    li {
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        top: 0px;
        left: 0px;
        height: 30px;

        &:hover:not(.navigation-subitems) a::before {
            @include subitem-icon-before;
        }

        &.is-selected {

            a {
                color: white;

                &::before {
                    @include subitem-icon-before;
                }
            }
        }

        a {
            padding: 0px 0 0px 20px;
            height: 100%;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 30px;
            display: inline-block;
            min-height: 30px; /* prohibits height changes on select */
        }
    }
}

.navigation-subitems {
    &.is-expanded {
        > .navigation-items-list {
            display: block;
        }
        .navigation-subitems-toggle {
            @include toggle-item;
            padding-bottom: 0;
        }
    }
}

.navigation-item {
    width: 100%;
    display: inline-block;
    padding: 0 0px;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
}

.navigation-item-title {
    padding-left: $verticalItemPadding;
    height: 100%;
    line-height: 50px;
    display: inline-block;
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navigation-item-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 3px;
    font-size: 20px;
    height: 100%;
    line-height: 50px;
}

.navigation-items-toggle {
    position: relative;
    height: 50px;
    border-bottom: 1px solid transparent;
    z-index: 200;
}

li a.navigation-settings-icon {
    width: auto;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 14px;
    display: none;
}

.navigation-toggle-icon {
    width: auto;
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 10px;
}

.navigation-subitems-toggle {
    padding: 2px 0 2px;
    position: relative;
    height: 30px;

    .navigation-toggle-icon {
        top: 3px;
    }

    .navigation-item {
        padding: 0px;
    }

}

.navigation footer {
    padding: 15px 20px 15px 23px;
    border-top: 1px solid $navigationFooterGray2;
    height: $footerOuterHeight * 1px;

    .user {
        font-size: $smallFontSize;
        color: $white;
        margin-bottom: 15px;
        height: 20px;
        white-space: nowrap;

        .pic {
            color: $grayDarkLighter;
            background: $white;
            height: 20px;
            width: 20px;
            line-height: 22px;
            border: 1px solid $white;
            border-radius: 10px;
            text-align: center;
            font-size: 16px;
            overflow: hidden;
            display: inline-block;
            margin-right: 15px;
        }
        .name {
            display: inline-block;
            line-height: 20px;
            position: relative;
            top: -5px;
            left: 0px;
        }
    }

    .options {
        height: 20px;
        margin-bottom: 15px;
        padding-left: 35px;
        white-space: nowrap;
        position: relative;
        top: 0px;
        left: 0px;

        .locale-dropdown {
            color: $black;
            width: 60px;
        }
        .dropdown-list {
            min-width: 150px;
        }
        .logout {
            color: white;
            cursor: pointer;
            font-size: 15px;
            display: block;
            display: block;
            text-decoration: none;
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
    .version {
        padding-left: 35px;
        font-size: $reallySmallFontSize;
        color: $navigationFooterGray;
        white-space: nowrap;

        a {
            color: $white;
            text-decoration: none;
        }
    }
}

/**
 * MINIFIED NAVIGATION
 */

.navigation.collapsed {
    width: 50px;
    overflow-x: hidden;

    .navigation-header {
        margin-left: 10px;
        margin-right: 0;
    }

    .navigation-header-title {
        opacity: 0;
    }

    .section-headline {
        opacity: 0;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navigation-search {
        margin: 0;
        margin-left: 8px;

        input {
            opacity: 0;
            z-index: 0;
        }
        .search-icon {
            opacity: 1;
            z-index: 100;
            color: $grayLight;
        }
    }

    // navigation items
    *, .is-active, .is-expanded {
        .navigation-settings-icon,
        .navigation-toggle-icon {
            opacity: 0;
        }
    }
    .navigation-item-title {
        opacity: 0;
    }

    .navigation-items {
        div {
            border: rgba(0,0,0,0) !important;
            padding: 0 !important;
            margin: 0 !important;
            line-height: 0;
        }

        a {
            padding: 0;
        }

        .navigation-items-list {
            opacity: 0;
            display:none;
        }
    }

    li {
        padding: 0;
    }

    .navigation-item-icon {
        margin-left: 15px;
        padding-left: 0px;
        line-height: 50px;
        vertical-align: middle;
    }

    .section:not(:first-child) {
        border-top: 1px solid $gray;
    }

    footer {
        padding-left: 15px;
        height: auto;
        cursor: pointer;
        height: ($footerOuterHeightColappsed) * 1px;
        overflow: hidden;

        * {
            opacity: 0;
            height: 0px;
            margin: 0px;
        }
        .user {
            opacity: 1;
            height: 20px;
            .pic {
                opacity: 1;
                height: 20px;
            }
        }
    }

    .navigation-content {
        .wrapper {
            margin-bottom: -($footerOuterHeightColappsed * 1px); //height of collapsed navigation footer
            &:after {
                height: ($footerOuterHeightColappsed + $footerTopMargin) * 1px; //height of minified navigation footer plus 40px "margin"
            }
        }
    }
}

.navigation-tooltip {
    position: absolute;
    height: 30px;
    left: 60px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 10px;
    color: white;
    background-color: $navigationBackgroundColor;
    z-index: 1000;

    &::before {
        content: ' ';
        position: absolute;
        left: -10px;
        top: 10px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 10px solid $navigationBackgroundColor;
    }
}

//effects
.navigation {
    @include single-transition(width, $transitionDuration);
}

.navigation footer,
.navigation footer > *,
.navigation .wrapper,
.navigation .wrapper:after,
.navigation-items * {
  @include single-transition(all, $transitionDuration);
}

.navigation-items {
  @include transition(all 0, opacity $transitionDuration, background $transitionDuration);
}

.navigation-header {
    @include single-transition(margin, $transitionDuration);
    
    .navigation-header-title {
        @include single-transition(opacity, $transitionDuration);
    }
}

.navigation-search {
    @include single-transition(margin, $transitionDuration);
    input {
        @include single-transition(width, $transitionDuration);
    }
}

.section-headline,
.section-headline * {
    @include single-transition(all, $transitionDuration);
}

.navigation-item-title {
    @include single-transition(opacity, $transitionDuration);
}

.search-icon {
    @include single-transition(color, $transitionDuration);
}

.navigation:not(.collapsed) {
    * {
        opacity: 1;
    }
}
