.husky-overlay-container {
  width: $overlayContainerWidth;
  position: fixed;
  top: 0;
  left: 50%;
  background-color: $white;
  border: 1px solid $grayLighter;
  z-index: 1000;
  @include standard-box-shadow;

  &.right-aligned {
    left: auto;
    right: 0;
  }

 &.wide {
     width: $overlayContainerWidthWide
 }
}

.draggable .overlay-header {
  cursor: move;
  @include user-select(none);
}

.overlay-header {
  padding: 15px 40px 15px 20px;
  min-height: 50px;
  border-bottom: 1px solid $grayLighterer;
  position: relative;

  .title {
    color: $grayLight;
    font-size: 23px;
    padding-right: 10px;
    vertical-align: text-top;
  }

  .close-button {
    position: absolute;
    top: 17px;
    right: 20px;
    font-size: 20px;
    float:right;
    text-decoration: none;
    color: black;
  }

}

.overlay-footer {
  padding: 10px 0;
  border-top: 1px solid $grayLighter;
  text-align: center;

  .save-button {
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
  }
}

.overlay-content {
  padding-left: 0;
  margin: 10px 20px;
}

.husky-overlay-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 999;
}
