.page-function {
    float: left;
    left: -50px;
    position: relative;

    a {
        display:block;
        text-align: center;
        font-size: 14px;
        width: 50px;
        height: $editToolbarHeight;
        line-height: $editToolbarHeight;

        color: black;

        &:hover {
            color: $grayDark;
        }

        &:active {
            color: $gray;
        }
    }
}
