//
// Pagination
// --------------------------------------------------

.pagination-wrapper {

    .show-all {
        color: $grayLight;

        & > a,
        & > a:hover,
        & > a:visited {
            text-decoration:none;
            color: $black;
        }

    }

    .pagination {

        .pagination-main {
            margin: 0;
            display: inline-block;
            list-style: none;
            border-top: 1px solid $grayLighter;
            border-bottom: 1px solid $grayLighter;
            padding: 6px 13px 7px 13px;
        }

        .pagination-prev {
            padding: 6px 13px;
            border: 1px solid $grayLighter;
            border-radius: 0 5px 5px 0;
        }

        .pagination-next {
            padding: 6px 13px;
            border: 1px solid $grayLighter;
            border-radius: 5px 0 0 5px;
        }
    }

}


