//
// Pagination
// --------------------------------------------------

.pagination-wrapper {
    margin-top: 20px;
    font-size: $smallFontSize;
    @include clear-float;

  .pagination-loader {
    width: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 5px;
  }

  &.dropdowns {
    .show-elements {
      float: left;
    }

    .dropdown-menu {
      width: 200px;
    }

    .pagination {
      height: 30px;
      float: right;

      .pagination-main {
        margin: 0;
        display: inline-block;
        list-style: none;
        border-top: 1px solid $grayLighter;
        border-bottom: 1px solid $grayLighter;
        padding: 0 10px;
        line-height: 28px;
        height: 30px;
      }

      .pagination-prev {
        padding: 0 13px 0 8px;
        border: 1px solid $grayLighter;
        border-radius: 0 $borderRadius $borderRadius 0;
        line-height: 32px;
        height: 30px;
        text-align: center;

        &::after {
          @extend .fa;
          content: $fa-var-chevron-right;
          display: inline-block;
          font-size: 16px;
        }
      }

      .pagination-next {
        padding: 0 13px 0 8px;
        border: 1px solid $grayLighter;
        border-radius: $borderRadius 0 0 $borderRadius;
        line-height: 32px;
        height: 30px;
        text-align: center;

        &::after {
          @extend .fa;
          content: $fa-var-chevron-left;
          display: inline-block;
          font-size: 16px;
        }
      }
    }
  }

  &.showall {
    cursor: pointer;
    margin-top: 0;
    padding-left: 10px;
    display: inline-block;

    .square {
      width: 50px;
      height: 50px;
      border: 1px dashed $grayLighter;
      float: left;
    }
    .text {
      display: inline-block;
      padding-left: 10px;
      line-height: 50px;
      float: left;
    }
  }
}


