//
// Pagination
// --------------------------------------------------


.pagination {
    padding: 10px 0;
    ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style: none;
        & > li {
            font-size: $smallFontSize;
            display: inline-block;
            & > a {
                text-decoration: none;
                color: $black;
            }
        }
    }
}