//
// Pagination
// --------------------------------------------------

.pagination-wrapper {
    margin-top: 20px;
    font-size: $smallFontSize;
    @include clear-float;

    .pagination-loader {
        width: auto;
        overflow: hidden;
        text-align: center;
    }

    &.infinite-scroll {
        height: 40px;
        text-align: center;

        .pagination-loader {
            display: none;
        }

        .pagination-message {
            opacity: 0;
            @include transition(opacity 200ms);

            color: $grayLighter;
            font-size: 12px;
            line-height: 40px;
            vertical-align: middle;
        }

        &.loading {
            .pagination-loader {
                display: block;
            }
        }

        &.reached-end {
            .pagination-message {
                opacity: 1;
            }
        }
    }

    &.dropdowns {
        .pagination-loader {
            padding-top: 5px;
        }

        .show-elements {
            float: left;

            .text {
                color: $grayLight;
                padding-right: 5px;
            }

            .dropdown {
                background-color: $white;
            }
        }

        .pagination {
            height: 30px;
            float: right;

            .pagination-main {
                display: inline-block;
                list-style: none;
                border: 1px solid $grayLighter;
                padding: 0 10px;
                line-height: 28px;
                height: 30px;
                margin: 0 2px;
            }
            .pagination-prev {
                padding: 0 13px 0 8px;
                border: 1px solid $grayLighter;
                border-radius: 0 $borderRadius $borderRadius 0;
                line-height: 32px;
                height: 30px;
                text-align: center;
                background-color: $white;
                border-left: 0px;

                &::after {
                    @extend .fa;
                    content: $fa-var-chevron-right;
                    display: inline-block;
                    font-size: 16px;
                }
            }
            .pagination-next {
                padding: 0 13px 0 8px;
                border: 1px solid $grayLighter;
                border-radius: $borderRadius 0 0 $borderRadius;
                line-height: 32px;
                height: 30px;
                text-align: center;
                background-color: $white;

                &::after {
                    @extend .fa;
                    content: $fa-var-chevron-left;
                    display: inline-block;
                    font-size: 16px;
                }
            }
        }
    }

    &.showall {
        cursor: pointer;
        margin-top: 0;
        padding-left: 10px;
        display: inline-block;

        .square {
            width: 50px;
            height: 50px;
            border: 1px dashed $grayLighter;
            float: left;
        }
        .text {
            display: inline-block;
            padding-left: 10px;
            line-height: 50px;
            float: left;
        }
    }

    .page-label {
        color: $grayLight;
        line-height: 30px;
        margin-right: 20px;

        .form-element {
            width: 50px;
            min-width: 50px;
            max-width: 150px;
            text-align: center;

            margin-left: 10px;
            margin-right: 10px;
        }
    }
}


