//
// Tabs
// --------------------------------------------------

.search-container {

    position: relative;

    a {
        color: #3e3e3e;
    }

    .search-input {
        padding-left: 40px;
        border: 0;
        margin: 0;
        background-color: $grayLight;
        color: #3e3e3e;

        @include input-placeholder {
            color: #3e3e3e;
        }

        &:focus {
            background-color: $white;
        }
    }

    .search-icon {
        position: absolute;
        padding-left: 8px;
        font-size: 16px;
        line-height: $inputHeight;
        vertical-align: middle;

        @extend .icon-class;
        @extend .icon-search;
    }

    .remove-icon {
        display: none;
        position: absolute;
        right: 10px;
        line-height: $inputHeight;
        vertical-align: middle;
        margin: auto;

    }

    /** look and feel **/

    &.gray {
        .search-input {
            background-color: $grayLight;
            &:focus {
                background-color: $white;
            }
        }
    }

    // white
    &.white {
        .search-input {
            background-color: $white;
            &:focus {
                background-color: $white;
            }
        }
    }

    &.small {
        .search-input {
            font-size: 12px;
        }
        .search-icon {
            padding-right: 15px;
            font-size: 12px;
        }
    }

}


