//
// Tables
// --------------------------------------------------

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    th,
    td {
        text-align: left;
        padding: 0 10px;
        vertical-align: top;
        border-right: 1px solid $grayLightMedium2;
    }

    tr {
        height: 50px;
        td:last-child {
            border-right: none;
        }
    }

    thead {
        th {
            vertical-align: bottom;
            color: $grayLight;
            font-weight: normal;
            line-height: 50px;

            a {
                color: $black;
                text-decoration: none;

                .selected {
                    font-weight: bold;
                }
            }

        }
        tr {
            background: $grayLighterer;
        }
    }

    tbody {
        td {
            vertical-align: middle;
            font-family: Helvetica, Arial;
            img {
              max-height: 50px;
              max-width: 50px;
            }
        }
        tr:nth-child(2n+1) {
            background: $white;
        }
        tr:nth-child(2n) {
            background: $grayLightest2;
        }
        tr:hover, tr.selected:hover {
            td:first-child {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 2px;
                    height: 100%;
                    background: $blue;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }
        }
        tr.selected {
            td:first-child {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 2px;
                    height: 100%;
                    background: $grayLighterer;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }
        }
    }

    .thumb {
        img {
            vertical-align: middle;
        }
    }
}
