//
// Tabs
// --------------------------------------------------

.tabs-container {
    $tabsHeight: 30px;
    $tabsBorderRadius: 4px;

    background-color: $white;
    border-bottom: 1px solid $baseBackgroundColor;
    padding: 20px 50px 0 50px;

    ul {
        padding: 0;
        margin: 0;
        white-space: nowrap;

        li {
            display: inline-block;
            list-style-type: none;
            line-height: $tabsHeight;
            height: $tabsHeight;
            padding: 0 10px;
            text-align: center;
            border-radius: $tabsBorderRadius $tabsBorderRadius 0 0;

            a {
                color: black;
                text-decoration: none;
                font-size: $baseFontSize;
            }

            &.is-selected {
                background-color: $baseBackgroundColor;

                a {
                    color: $highlightColor;
                    font-weight: bold;
                }
            }
        }
    }

    &.deactivated {
        ul li {
            a, a:hover {
                color: $grayLight;
                cursor: default;
            }
            &.is-selected a {
                color: $highlightColor;
            }
        }
    }
}


