//
// Toggler
// --------------------------------------------------

$togglerHeight: 20px;
$togglerWidth: 35px;

.husky-toggler {
    $transDuration: 100ms;
    $transFunction: ease-in;
    $togglerOutlineColor: $milkeyBlue2;

    width: $togglerWidth;
    height: $togglerHeight;
    border-radius: ($togglerHeight + 2px)/2;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    &.outline {
        margin-top: -2px;
        .toggler-wrapper {
            border-color: $togglerOutlineColor;
            height: $togglerHeight + 2px;
            border-radius: ($togglerHeight + 2px)/2;
        }
        .switch {
            border-color: $togglerOutlineColor;
            top: 1px;
            left: 1px;
        }
    }

    .toggler-wrapper {
        background: $white;
        border: 1px solid $grayLighter;
        border-radius: ($togglerHeight)/2;
        position: relative;
        width: $togglerWidth;
        height: $togglerHeight;
        top: 0px;
        left: 0px;
        @include user-select(none);
        @include single-transition(all, $transDuration, $transFunction);
    }

    .switch {
        background: $white;
        width: $togglerHeight;
        height: $togglerHeight;
        border-radius: ($togglerHeight)/2;
        border: 1px solid $grayLighter;
        margin: -1px 0 0 -1px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        @include single-transition(all, $transDuration, $transFunction);
    }

    input {
        position: absolute;
        top: 3px;
        left: 3px;
        @include single-transition(all, $transDuration, $transFunction);
        opacity: 0;
        z-index: 0;
    }

    &.checked {
        &.outline {
            .toggler-wrapper {
                border-color: $togglerOutlineColor;
                .switch {
                    left: 14px;
                }
            }
        }

        .toggler-wrapper {
            background: $green;
            border-color: $green;
        }

        .switch {
            border-color: $green;
            left: 15px;
        }
        input {
            left: 17px;
        }
    }
}

.husky-toggler-label {
    color: $black;
}

label.husky-toggler-label ~ .input-description {
    margin-left: $togglerWidth + 5px;
}
