//
// Toggler
// --------------------------------------------------

.husky-toggler {
    $transDuration: 100ms;
    $transFunction: ease-in;
    $togglerHeight: 20px;
    $togglerWidth: 35px;
    $togglerOutlineColor: rgba(255, 255, 255, 0.5);

    width: $togglerWidth;
    height: $togglerHeight;
    border-radius: ($togglerHeight)/2;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    &.outline {
        border: 1px solid $togglerOutlineColor;
        height: $togglerHeight+2;
        width: $togglerWidth+2;
    }


    .toggler-wrapper {
        background: $white;
        border: 1px solid $grayLighter;
        border-radius: ($togglerHeight)/2;
        position: relative;
        width: $togglerWidth;
        height: $togglerHeight;
        top: 0px;
        left: 0px;
        @include user-select(none);
        @include single-transition(all, $transDuration, $transFunction);
    }

    .switch {
        background: $white;
        width: $togglerHeight;
        height: $togglerHeight;
        border-radius: ($togglerHeight)/2;
        border: 1px solid $grayLighter;
        margin: -1px 0 0 -1px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        @include single-transition(all, $transDuration, $transFunction);
    }

    input {
        position: absolute;
        top: 3px;
        left: 3px;
        @include single-transition(all, $transDuration, $transFunction);
        opacity: 0;
        z-index: 0;
    }

    &.checked {
        .toggler-wrapper {
          background: $green;
          border-color: $green;
        }

        .switch {
            border-color: $green;
            left: 15px;
        }
        input {
            left: 17px;
        }
    }
}
