//
// Tabs
// --------------------------------------------------
@import "compass/css3/user-interface";

@mixin background-and-border($color) {
    background-color: $color;
    border-color: $color;
}

.toolbar-container {

    white-space: nowrap;

    line-height: 1;

    $marginRightLarge: 20px;
    $marginRightMedium: 10px;
    $marginRightSmall: 5px;

    // large buttons
    .large {
        button {
            width: 50px;
            height: 40px;
            font-size: 18px;
            margin-right: $marginRightLarge;
        }
    }

    .btn-group.large,
    :not(.btn-group) .group.large {
        &:not(:last-child) {
            margin-right: $marginRightLarge;
        }
    }

    // medium buttons
    .medium {
        button {
            width: 40px;
            height: 30px;
            font-size: 14px;
            margin-right: $marginRightMedium;

            &.dropdown-toggle:after {
                top: -1px;
            }
        }
    }
    .btn-group.medium,
    :not(.btn-group) .group.medium {
        &:not(:last-child) {
            margin-right: $marginRightMedium;
        }
    }

    // small buttons
    .small {
        button {
            width: 30px;
            height: 20px;
            font-size: 10px;
            margin-right: $marginRightSmall;

            // styling triangle
            &.dropdown-toggle:after {
                top: -1px;
                margin-left: 3px;
                border-left-width: 3px;
                border-right-width: 3px;
                border-top-width: 4px;
            }
        }
    }
    .btn-group.small,
    :not(.btn-group) .group.small {
        &:not(:last-child) {
            margin-right: $marginRightSmall;
        }
    }

    .btn-group {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 0;

        // button of button group
        > .group {
            button {
                margin-right: 0;
            }

            // inbetween element
            &:not(:first-child):not(:last-child):not(.dropdown-toggle) button {
                margin: 0 0 0 -1px;
                border-radius: 0;
            }

            // last element of button group
            &:last-child {
                button {
                    margin-left: -1px;
                }
                &:not(:first-child):not(.dropdown-toggle) button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            // first element of button group
            &:first-child {
                button {
                    margin-left: 0;
                }
                &:not(:last-child):not(.dropdown-toggle) button {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }

        &:not(:last-child) {
            margin-right: $marginRightLarge;
        }
    }

    .group {
        display: inline-block;
        font-size: 14px;
    }

    button {
        cursor: pointer;

        display: inline-block;

        line-height: 1;

        width: 50px;
        height: 40px;
        font-size: 18px;

        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        background-image: none;
        background-color: transparent;
        outline: none;

        margin-right: 20px;

        border: 1px solid $grayLighter;
        border-radius: 3px;
        @include user-select(none);

        &:disabled {
            color: $grayLight;
        }

        &:hover:not(:disabled) {
            background-color: $grayLighterer;
        }
        &:active:not(:disabled) {
            background-color: $grayLighter;
        }

        &.highlight {
            color: #FFF;
            background-color: $highlightColor;
            border-color: $highlightColor;

            &:hover {
                @include background-and-border(lighten($highlightColor, 3%));
            }
            &:active {
                @include background-and-border(lighten($highlightColor, 5%));

            }
            &:disabled, &:disabled:hover, &:disabled:focus {
                @include background-and-border($grayLight);
            }
        }

        span {
            vertical-align: middle;
        }

    }

    .toolbar-search {
        display: inline-block;
        width: 130px;
    }

    // dropdown

    .is-expanded {
        ul.toolbar-dropdown-menu {
            display: block;
        }
    }

    .medium, .small {
        ul.toolbar-dropdown-menu {
            font-size: 12px;
        }
    }

    ul.toolbar-dropdown-menu {
        background-color: white;
        border: 1px solid $grayLighter;

        display: none;
        position: absolute;
        top: 100%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        list-style: none;

        padding: 5px 0;
        margin-top: -7px;
        margin-left: 0px;

        @include standard-box-shadow(2px);

        &.right-aligned {
            left: auto;
            right: 0;
        }

        li {
            display: list-item;
            float: none;
            line-height: 1;
            height: 30px;
            line-height: 30px;
            white-space: nowrap;
            cursor: pointer;

            padding: 0 20px;

            a {
                color: black;
                text-decoration: none;
            }

            &.is-selected,
            &:hover {
                background-color: $highlightColor;
                a {
                    color: white;
                }
            }

            &.disabled:hover,
            &.disabled {
                cursor: default;
                background-color: inherit;
                a {
                    cursor: default;
                    color: $grayLight;
                }
            }

            &:active {
                background-color: lighten($highlightColor, 5%);
            }

            &.divider {
                height: 1px;
                margin: 5px 0;
                overflow: hidden;
                background-color: $grayLighterer;
            }

            a {
                clear: both;
                text-align: left;
            }

        }
    }

}


