<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="../../dist/husky.min.css">
    <style>
        h1 {
            margin: 50px 0 0 50px;
        }
        .container {
            width: 800px;
            padding-left: 50px;
            margin-top: 40px;
        }
    </style>
</head>
<body>
<h1>Husky Dialog Demo</h1>
<div class="container">
    <!-- Button to trigger modal -->
    <a id="showDialog" href="#dialog" role="button" class="btn" data-toggle="dialog">Launch demo modal</a>
    <a id="showOkDialog" href="#dialog" role="button" class="btn" data-toggle="dialog">Launch OK dialog</a>
    <a id="showDefinedDialog" href="#dialog" role="button" class="btn" data-toggle="dialog">Custom Template</a>

    <!-- Modal -->
    <div id="dialog"></div>
</div>


<script src="../js/sinon.js"></script>
<script src="../js/jquery.js"></script>

<script src="../js/require.js"></script>

<script type="text/javascript">
    require.config({
        baseUrl: '../../'
    });

    require(['lib/husky'], function(Husky) {
        'use strict';

        var app = Husky({ debug: { enable: true }}),
                _ = app.sandbox.util._;

        app.start().then(function() {
            app.logger.log('Aura started...');

            $('#showDialog').on('click', function(event) {
                event.preventDefault();
                app.sandbox.start([
                    {
                        name: 'dialog@husky',
                        options: {
                            el: '#dialog',
                            data: {
                                content: {
                                    title: "This is the headline!",
                                    content: "This is the content"
                                },
                                footer: {
                                    buttonCancelText: "Cancel",
                                    buttonSubmitText: "Save"
                                },
                                callback: {
                                    submit: function() {
                                        console.log('submit');
                                        app.sandbox.emit('husky.dialog.hide');
                                    },
                                    cancel: function() {
                                        console.log('cancel');
                                        app.sandbox.emit('husky.dialog.hide');
                                    }
                                }
                            }
                        }
                    }
                ]);
            });

            $('#showOkDialog').on('click', function(event) {
                event.preventDefault();
                app.sandbox.start([
                    {
                        name: 'dialog@husky',
                        options: {
                            el: '#dialog',
                            templateType: "okDialog",
                            data: {
                                content: {
                                    title: "This is the headline!",
                                    content: '<p>This is the content</p>' +
                                            '<div class="custom-checkbox">' +
                                                '<input type="checkbox" id="mycheckbox"/>' +
                                                '<span class="icon"></span>' +
                                            '</div>' +
                                            '<label for="mycheckbox">this is the label for the checkbox</label>'
                                },
                                callback: {
                                    submit: function() {
                                        console.log('submit');
                                        app.sandbox.emit('husky.dialog.hide');
                                    },
                                    cancel: function() {
                                        console.log('cancel');
                                        app.sandbox.emit('husky.dialog.hide');
                                    }
                                }
                            }
                        }
                    }

                ]);
            });

            $('#showDefinedDialog').on('click', function(event) {
                event.preventDefault();
                app.sandbox.start([
                    {
                        name: 'dialog@husky',
                        options: {
                            el: '#dialog',
                            template: {
                                content: '<h3><%= title %></h3><p><%= content %></p>',
                                footer: '<button class="btn btn-black" id="dialog-button-cancel"><%= buttonCancelText %></button><button class="btn btn-black" id="dialog-button-submit"><%= buttonSubmitText %></button>',
                                header: '<div class="icon-remove2 close"></div>'
                            },
                            data: {
                                content: {
                                    title: "This is the headline!",
                                    content: "This is the content"
                                },
                                footer: {
                                    buttonCancelText: "Cancel",
                                    buttonSubmitText: "Save"
                                },
                                callback: {
                                    submit: function() {
                                        console.log('submit');
                                        app.sandbox.emit('husky.dialog.hide');
                                    },
                                    cancel: function() {
                                        console.log('cancel');
                                        app.sandbox.emit('husky.dialog.hide');
                                    }
                                }
                            }
                        }
                    }
                ]);
            });

            app.sandbox.on('husky.dialog.cancel', function() {
                app.sandbox.emit('husky.dialog.hide');
            });

            app.sandbox.on('husky.dialog.submit', function() {
                app.sandbox.emit('husky.dialog.hide');
            });
        });
    });
</script>

</body>
</html>
