%abstract-error {
    label,
    .control-label {
        color: #AD0710;
    }

    .husky-validate:not(label) {
        border-color: #AD0710;
        border-width: 2px;
    }
}

%abstract-success {
    //label::after,
    //.control-label::after {
    //    content: '';
    //    font-family: 'Glyphicons';
    //    z-index: 99;
    //    float: right;
    //    display: inline-block;
    //    position: relative;
    //    top: 35px;
    //    right: 7px;
    //
    //    content: "\e199";
    //}

    .husky-validate:not(label):not(span):not(p) {
        border-color: #1FCA23;
        border-width: 2px;
        background-image: url('/img/checkmark.svg');
        background-repeat: no-repeat;
        background-position: right 8px center;
        padding-right: 30px;
    }
}

