<h1 id="auto-complete">[Template]</h1>

TODO Description

<h2>Example</h2>

<div class="doc-example">
	<div class="example">
		<div class="grid">
			<div class="grid-row">
				<div class="grid-col-4">
					<form>
						<div id="auto-complete-example">
							<label>Test</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="doc-code">
	{% highlight html %}
	<form>
		<div id="auto-complete-example">
			<label>Test</label>
		</div>
	</form>

	<script lang="javascript">
		var autoComplete = $('#auto-complete-example').huskyAutoComplete({
			url: '/contacts'
		});
	</script>
	{% endhighlight %}
</div>

<h2>Usage</h2>

<h3>Via Javascript</h3>

{% highlight javascript %}
var autoComplete = $('#auto-complete').huskyAutoComplete(options);
{% endhighlight %}

<h2>Events</h2>

<table class="table">
	<thead>
		<tr>
			<th width="20%">Event Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

{% highlight javascript %}
autoComplete.data('Husky.Ui.AutoComplete').on('auto-complete:loadData', function() {
...
});
{% endhighlight %}

<h2>Options</h2>

<table class="table">
	<thead>
		<tr>
			<th width="20%">Option Name</th>
			<th width="10%">Type</th>
			<th width="10%">Default</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
		