<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="../../.tmp/husky.css">
	</head>
	<body>

		<div class="grid">

			<div class="grid-row">

				<div class="grid-col-1"></div>

				<div id="content" class="grid-col-4">
					<label>ASDF</label>
				</div>

			</div>

		</div>

		<script src="../../node_modules/sinon/pkg/sinon.js"></script>
		<script src="../../bower_components/jquery/jquery.js"></script>
		<script src="../../bower_components/underscore/underscore-min.js"></script>

		<script src="../../js/husky.js"></script>
		<script src="../../js/modules/util.js"></script>
		<script src="../../js/modules/ui.auto-complete.js"></script>

		<script>
			Husky.DEBUG = true;

			var fakeServer;
			$(document).ready(function() {
				fakeServer = sinon.fakeServer.create();

				fakeServer.respondWith('GET', '/contacts?search=abc', [200, { 'Content-Type': 'application/json' },
					'{"total": 3, "items": [ { "id": "1", "name": "abcd" }, { "id": "2", "name": "abcde" }, { "id": "3", "name":"abcdef" }] }'
				]);

				fakeServer.respondWith('GET', '/contacts?search=abcd', [200, { 'Content-Type': 'application/json' },
					'{"total": 3, "items": [ { "id": "1", "name": "abcd" }, { "id": "2", "name": "abcde" }, { "id": "3", "name":"abcdef" }] }'
				]);

				fakeServer.respondWith('GET', '/contacts?search=abcde', [200, { 'Content-Type': 'application/json' },
					'{"total": 2, "items": [ { "id": "2", "name": "abcde" }, { "id": "3", "name":"abcdef" }] }'
				]);

				fakeServer.respondWith('GET', '/contacts?search=abcdef', [200, { 'Content-Type': 'application/json' },
					'{"total": 1, "items": [ { "id": "3", "name":"abcdef" }] }'
				]);

				fakeServer.respondWith('GET', '/contacts?search=abcdefg', [200, { 'Content-Type': 'application/json' },
					'{"total": 0, "items": [ ] }'
				]);

				var autoComplete = $('#content').huskyAutoComplete({
					url: '/contacts',
					value: {id: 1, name: 'abcd'},
					excludeItems: [
						{id: 2}
					]
				});

				autoComplete.data('Husky.Ui.AutoComplete').on('auto-complete:loadData', function() {
					setTimeout(function() {
						fakeServer.respond();
					}, 1000);
				});

				fakeServer.respond();
			});

		</script>
	</body>
</html>
