<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="../../.tmp/husky.css">
	</head>
	<body>
		<div>
			<h1>This is a static table</h1>
			<table class="table">
				<thead>
					<tr>
						<th>Table Header</th>
						<th>Table Header</th>
						<th>Table Header</th>
						<th>Table Header</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br/><br/>


		<h1>This is a generated Table</h1>

		<h2>manually remove handling</h2>

		<div id="js-data-grid"></div>

		<h2>automatically remove handling</h2>

		<div id="js-data-grid2"></div>

		<button id="add-row">Add Row</button>

		<script src="../../node_modules/sinon/pkg/sinon.js"></script>
		<script src="../../bower_components/jquery/jquery.js"></script>

		<script src="../../js/husky.js"></script>
		<script src="../../js/modules/util.js"></script>
		<script src="../../js/modules/ui.data-grid.js"></script>

		<script>
			Husky.DEBUG = true;

			var fakeServer;
			$(document).ready(function() {
				fakeServer = sinon.fakeServer.create();

				fakeServer.respondWith('GET', '/contacts?pageSize=4', [200, { 'Content-Type': 'application/json' },
					'{"total": 56, "items": [{"id": "1", "content1": "Hallo 1", "content2": "Hallo 2", "content3": { "thumb": "http://placehold.it/24x24", "alt": "lorempixel" } }, { "id": "2", "content1": "Hallo 1", "content2": "Hallo 2", "content3": { "thumb": "http://placehold.it/24x24", "alt": "lorempixel" } }, { "id": "3", "content1": "Hallo 1", "content2": "Hallo 2", "content3": { "thumb": "http://placehold.it/24x24", "alt": "lorempixel" } }, { "id": "4", "content1": "Hallo 1", "content2": "Hallo 2", "content3": { "thumb": "http://placehold.it/24x24", "alt": "lorempixel" } }] }'
				]);

				fakeServer.respondWith('GET', '/contacts?pageSize=4&page=2', [200, { 'Content-Type': 'application/json' },
					'{"total": 56, "items": [{"id": "1", "content1": "Hallo 1", "content2": "Hallo 2", "content3": { "thumb": "http://placehold.it/24x24", "alt": "lorempixel" } }, { "id": "2", "content1": "Hallo 1", "content2": "Hallo 2", "content3": { "thumb": "http://placehold.it/24x24", "alt": "lorempixel" } }, { "id": "3", "content1": "Hallo 1", "content2": "Hallo 2", "content3": { "thumb": "http://placehold.it/24x24", "alt": "lorempixel" } }, { "id": "4", "content1": "Hallo 1", "content2": "Hallo 2", "content3": { "thumb": "http://placehold.it/24x24", "alt": "lorempixel" } }] }'
				]);


				var $dataGrid = $('#js-data-grid').huskyDataGrid({
					url: '/contacts',
					selectItem:{
                        type: 'checkbox',
                        clickable: false
                    },
					pagination: false,
					className: "test",
					paginationOptions: {
						pageSize: 4,
						showPages: 6
					},
					removeRow: true,
					autoRemoveHandling: false,
					tableHead: [
						{content: 'Name'},
						{content: 'Image'},
						{content: 'Options'}
					],
					excludeFields: ['id', 'content1']
				});

				$('#add-row').on('click', function() {
					$dataGrid.data('Husky.Ui.DataGrid').trigger('data-grid:row:add', { "id": "1", "content1": "Tschau", "content2": "Hallo 2", "content3": "Hallo 3" });
				});

				$dataGrid.data('Husky.Ui.DataGrid').on('data-grid:page:change', function() {
					setTimeout(function() {
						fakeServer.respond();
					}, 500);
				});

				$dataGrid.data('Husky.Ui.DataGrid').on('data-grid:row:removed', function(item) {
					console.log('remove: ' + item);
				});

				$dataGrid.data('Husky.Ui.DataGrid').on('data-grid:row:remove-click', function(event, item) {
					console.log('remove-clicked: ' + item);
					alert('DELETE AFTER OK');
					$dataGrid.data('Husky.Ui.DataGrid').trigger('data-grid:row:remove', item);
				});

				$dataGrid.data('Husky.Ui.DataGrid').on('data-grid:item:select', function(item) {
					console.log('Husky.Ui.DataGrid item select: ' + item);
				});

				$dataGrid.data('Husky.Ui.DataGrid').on('data-grid:item:deselect', function(item) {
					console.log('Husky.Ui.DataGrid item deselect: ' + item);
				});

				$dataGrid.data('Husky.Ui.DataGrid').on('data-grid:item:click', function(item) {
					console.log('Husky.Ui.DataGrid item click: ' + item);
				});

				var $dataGrid2 = $('#js-data-grid2').huskyDataGrid({
					url: '/contacts',
					selectItem:{
                        type: 'checkbox',
                        width: '100px',
                        clickable: false
                    },
					pagination: false,
					className: "test",
					paginationOptions: {
						pageSize: 4,
						showPages: 6
					},
					removeRow: true,
					tableHead: [
						{content: 'Name'},
						{content: 'Image'},
						{content: 'Options'}
					],
					excludeFields: ['id', 'content1']
				});

				$('#add-row').on('click', function() {
					$dataGrid2.data('Husky.Ui.DataGrid').trigger('data-grid:row:add', { "id": "1", "content1": "Tschau", "content2": "Hallo 2", "content3": "Hallo 3" });
				});

				$dataGrid2.data('Husky.Ui.DataGrid').on('data-grid:page:change', function() {
					setTimeout(function() {
						fakeServer.respond();
					}, 500);
				});

				$dataGrid2.data('Husky.Ui.DataGrid').on('data-grid:row:removed', function(item) {
					console.log('remove: ' + item);
				});

				$dataGrid2.data('Husky.Ui.DataGrid').on('data-grid:row:remove-click', function(event, item) {
					console.log('remove-clicked: ' + item);
					alert('DELETE AFTER OK');
					$dataGrid2.data('Husky.Ui.DataGrid').trigger('data-grid:row:remove', event);
				});

				$dataGrid2.data('Husky.Ui.DataGrid').on('data-grid:item:select', function() {
					console.log('Husky.Ui.DataGrid item select');
				});

				fakeServer.respond();
			});

		</script>
	</body>
</html>
